/* Slider */

.feature-container .progress.small-progress {
    margin: 10px 0 0 0;
    height: 7px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #9BCCED;
}
	
.feature-container .progress.small-progress .progress-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #fff;	
}

#order-universal_slider .product-selector .irs-with-grid {
    margin-top: 20px;
    height: 60px;
    margin-left: 10px;
}
.slider .product-selector .irs-from,
.slider .product-selector .irs-to,
.slider .product-selector .irs-single {
    text-shadow: none;
    z-index: 1000;
	background-color: #3598DB;
    font-weight: bold;
    color: #fff;
    top: -10px;
    font-size: 18px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-transform: uppercase;
}
.slider .product-selector .irs-grid-pol {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background: #428bca;
}
.slider .product-selector {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
}
.slider .product-selector .irs-grid-text {
    top: -14px;
    color:  #5D5F63;
    font-size: 18px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-transform: uppercase;
    background-color: #fff;
}
.slider .product-selector .irs-grid {
    bottom: inherit;
    top: 10px;
}
.slider .product-selector .irs-min,
.slider .product-selector .irs-max {
    display: none;
}
.slider .product-selector .irish-height {
    height: 10px !important;
}
.slider .product-selector .irish-height .irs .irs-bar {
    height: 16px !important;
}

.slider .product-selector .irs-line {
    background: #f3f3f3;
    border: 0;
    height: 20px;
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.20);
    -moz-box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.20);
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.20);
}
.slider .product-selector .irs-line .irs-line-left,
.slider .product-selector .irs-line .irs-line-mid,
.slider .product-selector .irs-line .irs-line-right {
    background: #f3f3f3;	
}
.slider .product-selector .irs-bar {
    height: 20px;
    top: 33px;
    border-top: 0 solid #428bca;
    border-bottom: 0 solid #428bca;
	background: #3598DB;
    border-radius: 16px 0 0 16px;
}
.slider .product-selector .irs-bar:after {
	content: "";
	display: block;
    height: 20px;
    top: 33px;
    width: 10px;
    border-top: 0 solid #428bca;
    border-bottom: 0 solid #428bca;
	background: #3598DB;
    border-radius: 16px 0 0 16px;
}
.slider .product-selector .irs-bar-edge {
    height: 20px;
    top: 33px;
    width: 25px;
    border: 0 solid #428bca;
	background: #3598DB;
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}


.slider .product-selector .irs-slider.single {
	
	border-radius: 36px;
} 

.slider .product-selector .irs-slider,
.slider .product-selector .irs-slider:hover {
	cursor: pointer;
    z-index: 1100;
	position: absolute;
	top: 24px;
	right:60px;
	width: 36px !important;
	height: 36px;
	display: block;
	border-radius: 36px;
	background: rgb(255,255,255);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
}

.slider .product-selector .irs-slider:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 -9px;
	border-radius: 18px;
	background: rgb(239,239,239);
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

/* Outline */

.panel-outline-default {
	border: 1px solid #3598DB;
	background: #fff;
}
.panel-solid-primary {
	border: 1px solid #3598DB;
}

.panel-outline-default .panel-footer {
	border: none;
	background: none;
}