/** Miscellaneous or overwritten styles **/

#mg-wrapper a,
#mg-wrapper a:hover {
    text-decoration: none;
}

#mg-wrapper .table form 
{
    padding: 0;
    margin: 0;
}

#mg-wrapper .table input
{
    margin: 0!important;
}

#mg-wrapper input[disabled], select[disabled], textarea[disabled], .body input[readonly], select[readonly], textarea[readonly] {
    background-color: #EEEEEE!important;
    cursor: not-allowed!important;
}

#mg-wrapper input.error {
    border: solid 2px #f00f00 !important;
}

#mg-wrapper h1 a,
#mg-wrapper h2 a,
#mg-wrapper h3 a,
#mg-wrapper h4 a,
#mg-wrapper h5 a,
#mg-wrapper h6 a
{
    color: #333333!important;
    text-decoration: none;
}

#mg-wrapper h1 a:hover,
#mg-wrapper h2 a:hover,
#mg-wrapper h3 a:hover,
#mg-wrapper h4 a:hover,
#mg-wrapper #mg-wrapper  a:hover,
h6 a:hover
{
    text-decoration: underline;
}
#left_side {display:none !important;}
#content_container #content {margin-left:0 !important;}
#mg-wrapper #mg-content.right {margin-right:0 !important;}

#mg-wrapper cite 
{
    padding-left: 10px !important;
    display: block;
    color: #8E8E8E;
    border-left: 2px solid #8E8E8E;
}

#mg-wrapper ul.optionsList li strong {
    width: 350px !important;
}

#mg-wrapper dl {
    margin-bottom: 0 !important;
}

#mg-wrapper .dl-horizontal dt {
    width: auto !important;
}

#mg-wrapper .dl-horizontal dd {
    margin-left: 85px !important;
}

#mg-wrapper .label {
    text-transform: none;
}

#mg-wrapper a.actionIcon {
    font-size: 24px;
    text-decoration: none !important;
    border: none;
    margin-right: 5px;
}

#mg-wrapper a.actionIcon.danger {
    color: #f04124;
}

a.tooltip2 {outline:none !important;text-decoration:none !important; margin-top: 3px;}
a.tooltip2 strong {line-height:30px;}
a.tooltip2 > span 
{
    width:300px;
    white-space: pre-line; 
    
    padding: 10px 20px !important;
    margin-top: 20px  !important;
    margin-left: -85px  !important;
    opacity: 0;
    visibility: hidden;
    z-index: 10;	   
    position: absolute;

    font-family: Arial;
    font-size: 12px;
    font-style: normal;  
    color: #8E8E8E !important;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;


    -webkit-box-shadow: 2px 2px 2px #999;
    -moz-box-shadow: 2px 2px 2px #999;		
    box-shadow: 2px 2px 2px #999;	    

    -webkit-transition-property:opacity, visibility, margin-left;
    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    -moz-transition-property:opacity, visibility, margin-left;
    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    -o-transition-property:opacity, visibility, margin-left;
    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    transition-property:opacity, visibility, margin-left;
    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

/*a.tooltip > span:hover,*/
a.tooltip2:hover > span
{
    opacity: 1;
    text-decoration:none !important;
    visibility: visible !important;
    overflow: visible !important;
    margin-top:15px !important;
    display: inline !important;
    margin-left: -60px !important;
    z-index: 9999 !important;
}

a.tooltip2 span b {

    width: 15px !important;
    height: 15px !important;
    margin-left: 20px !important;
    margin-top: -37px !important;

    display: block !important;
    position: absolute !important;

    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;

    -webkit-box-shadow: inset -1px 1px 0 #fff !important;
    -moz-box-shadow: inset 0 1px 0 #fff !important;
    -o-box-shadow: inset 0 1px 0 #fff !important;
    box-shadow: inset 0 1px 0 #fff !important;

    display: none\0/;
    *display: none;
}

a.tooltip2 > span {
    color: #ffffff !important; 

    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */

    border: 1px solid #CFB57C;	     
}    

a.tooltip2 span b {
    background: #FFFFCC;
    border-top: 1px solid #CFB57C;
    border-right: 1px solid #CFB57C;
}

.preloader {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.6); /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

.preloader .status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:25%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/loading.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 100px; /* is width and height divided by two */
}

.domainName {
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  color: #555;
  vertical-align: middle;
  max-width: 100%;
  line-height: 22px;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui-tabs-vertical { }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 200px; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em;}


/** Alerts **/

.alert {
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 0;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #ffffff;
  background-color: #43ac6a;
  border-color: #3c9a5f;
}

.alert-success hr {
  border-top-color: #358753;
}

.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #3db5d8;
}

.alert-info hr {
  border-top-color: #2aabd2;
}

.alert-info .alert-link {
  color: #e6e6e6;
}

.alert-warning {
  color: #ffffff;
  background-color: #e99002;
  border-color: #d08002;
}

.alert-warning hr {
  border-top-color: #b67102;
}

.alert-warning .alert-link {
  color: #e6e6e6;
}

.alert-danger {
  color: #ffffff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.alert-danger hr {
  border-top-color: #d32a0e;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}

/** Labels **/

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label {
    padding-right: 1em;
    padding-left: 1em;
    font-weight: 300;
    border-radius: 0;
}

.label-success {
    background-color: #43ac6a;
}

.label-danger {
    background-color: #f04124;
}

/** Bootstrap Tags **/

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  min-height: 30px;
  padding: 6px 4px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  min-width: 500px;
  max-width: 100%;
  line-height: 22px;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
  font-size: 14px;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  vertical-align: middle;
  margin-right: 2px;
  font-size: 14px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/** Forms **/

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.428571429;
    color: #6f6f6f;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type="text"] {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

/** Wells **/

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item > .badge {
  float: right;
}

.list-group-item > .badge + .badge {
  margin-right: 5px;
}

a.list-group-item {
  color: #555555;
}

a.list-group-item .list-group-item-heading {
  color: #333333;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #008cba;
  border-color: #008cba;
}

a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}

a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #87e1ff;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

/** Buttons **/

.flatbtn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.flatbtn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.flatbtn:hover,
.flatbtn:focus {
  color: #333333;
  text-decoration: none;
}

.flatbtn:active,
.flatbtn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.flatbtn.disabled,
.flatbtn[disabled],
fieldset[disabled] .flatbtn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.flatbtn-default {
  color: #333333;
  background-color: #e7e7e7;
  border-color: #dadada;
}

.flatbtn-default:hover,
.flatbtn-default:focus,
.flatbtn-default:active,
.flatbtn-default.active,
.open .dropdown-toggle.flatbtn-default {
  color: #333333;
  background-color: #d3d3d3;
  border-color: #bbbbbb;
}

.flatbtn-default:active,
.flatbtn-default.active,
.open .dropdown-toggle.flatbtn-default {
  background-image: none;
}

.flatbtn-default.disabled,
.flatbtn-default[disabled],
fieldset[disabled] .flatbtn-default,
.flatbtn-default.disabled:hover,
.flatbtn-default[disabled]:hover,
fieldset[disabled] .flatbtn-default:hover,
.flatbtn-default.disabled:focus,
.flatbtn-default[disabled]:focus,
fieldset[disabled] .flatbtn-default:focus,
.flatbtn-default.disabled:active,
.flatbtn-default[disabled]:active,
fieldset[disabled] .flatbtn-default:active,
.flatbtn-default.disabled.active,
.flatbtn-default[disabled].active,
fieldset[disabled] .flatbtn-default.active {
  background-color: #e7e7e7;
  border-color: #dadada;
}

.flatbtn-default .badge {
  color: #e7e7e7;
  background-color: #fff;
}

.flatbtn-primary {
  color: #ffffff;
  background-color: #008cba;
  border-color: #0079a1;
}

.flatbtn-primary:hover,
.flatbtn-primary:focus,
.flatbtn-primary:active,
.flatbtn-primary.active,
.open .dropdown-toggle.flatbtn-primary {
  color: #ffffff;
  background-color: #006d91;
  border-color: #004b63;
}

.flatbtn-primary:active,
.flatbtn-primary.active,
.open .dropdown-toggle.flatbtn-primary {
  background-image: none;
}

.flatbtn-primary.disabled,
.flatbtn-primary[disabled],
fieldset[disabled] .flatbtn-primary,
.flatbtn-primary.disabled:hover,
.flatbtn-primary[disabled]:hover,
fieldset[disabled] .flatbtn-primary:hover,
.flatbtn-primary.disabled:focus,
.flatbtn-primary[disabled]:focus,
fieldset[disabled] .flatbtn-primary:focus,
.flatbtn-primary.disabled:active,
.flatbtn-primary[disabled]:active,
fieldset[disabled] .flatbtn-primary:active,
.flatbtn-primary.disabled.active,
.flatbtn-primary[disabled].active,
fieldset[disabled] .flatbtn-primary.active {
  background-color: #008cba;
  border-color: #0079a1;
}

.flatbtn-primary .badge {
  color: #008cba;
  background-color: #fff;
}

.flatbtn-warning {
  color: #ffffff;
  background-color: #e99002;
  border-color: #d08002;
}

.flatbtn-warning:hover,
.flatbtn-warning:focus,
.flatbtn-warning:active,
.flatbtn-warning.active,
.open .dropdown-toggle.flatbtn-warning {
  color: #ffffff;
  background-color: #c17702;
  border-color: #935b01;
}

.flatbtn-warning:active,
.flatbtn-warning.active,
.open .dropdown-toggle.flatbtn-warning {
  background-image: none;
}

.flatbtn-warning.disabled,
.flatbtn-warning[disabled],
fieldset[disabled] .flatbtn-warning,
.flatbtn-warning.disabled:hover,
.flatbtn-warning[disabled]:hover,
fieldset[disabled] .flatbtn-warning:hover,
.flatbtn-warning.disabled:focus,
.flatbtn-warning[disabled]:focus,
fieldset[disabled] .flatbtn-warning:focus,
.flatbtn-warning.disabled:active,
.flatbtn-warning[disabled]:active,
fieldset[disabled] .flatbtn-warning:active,
.flatbtn-warning.disabled.active,
.flatbtn-warning[disabled].active,
fieldset[disabled] .flatbtn-warning.active {
  background-color: #e99002;
  border-color: #d08002;
}

.flatbtn-warning .badge {
  color: #e99002;
  background-color: #fff;
}

.flatbtn-danger {
  color: #ffffff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.flatbtn-danger:hover,
.flatbtn-danger:focus,
.flatbtn-danger:active,
.flatbtn-danger.active,
.open .dropdown-toggle.flatbtn-danger {
  color: #ffffff;
  background-color: #dc2c0f;
  border-color: #b1240c;
}

.flatbtn-danger:active,
.flatbtn-danger.active,
.open .dropdown-toggle.flatbtn-danger {
  background-image: none;
}

.flatbtn-danger.disabled,
.flatbtn-danger[disabled],
fieldset[disabled] .flatbtn-danger,
.flatbtn-danger.disabled:hover,
.flatbtn-danger[disabled]:hover,
fieldset[disabled] .flatbtn-danger:hover,
.flatbtn-danger.disabled:focus,
.flatbtn-danger[disabled]:focus,
fieldset[disabled] .flatbtn-danger:focus,
.flatbtn-danger.disabled:active,
.flatbtn-danger[disabled]:active,
fieldset[disabled] .flatbtn-danger:active,
.flatbtn-danger.disabled.active,
.flatbtn-danger[disabled].active,
fieldset[disabled] .flatbtn-danger.active {
  background-color: #f04124;
  border-color: #ea2f10;
}

.flatbtn-danger .badge {
  color: #f04124;
  background-color: #fff;
}

.flatbtn-success {
  color: #ffffff;
  background-color: #43ac6a;
  border-color: #3c9a5f;
}

.flatbtn-success:hover,
.flatbtn-success:focus,
.flatbtn-success:active,
.flatbtn-success.active,
.open .dropdown-toggle.flatbtn-success {
  color: #ffffff;
  background-color: #388f58;
  border-color: #2b6e44;
}

.flatbtn-success:active,
.flatbtn-success.active,
.open .dropdown-toggle.flatbtn-success {
  background-image: none;
}

.flatbtn-success.disabled,
.flatbtn-success[disabled],
fieldset[disabled] .flatbtn-success,
.flatbtn-success.disabled:hover,
.flatbtn-success[disabled]:hover,
fieldset[disabled] .flatbtn-success:hover,
.flatbtn-success.disabled:focus,
.flatbtn-success[disabled]:focus,
fieldset[disabled] .flatbtn-success:focus,
.flatbtn-success.disabled:active,
.flatbtn-success[disabled]:active,
fieldset[disabled] .flatbtn-success:active,
.flatbtn-success.disabled.active,
.flatbtn-success[disabled].active,
fieldset[disabled] .flatbtn-success.active {
  background-color: #43ac6a;
  border-color: #3c9a5f;
}

.flatbtn-success .badge {
  color: #43ac6a;
  background-color: #fff;
}

.flatbtn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.flatbtn-info:hover,
.flatbtn-info:focus,
.flatbtn-info:active,
.flatbtn-info.active,
.open .dropdown-toggle.flatbtn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.flatbtn-info:active,
.flatbtn-info.active,
.open .dropdown-toggle.flatbtn-info {
  background-image: none;
}

.flatbtn-info.disabled,
.flatbtn-info[disabled],
fieldset[disabled] .flatbtn-info,
.flatbtn-info.disabled:hover,
.flatbtn-info[disabled]:hover,
fieldset[disabled] .flatbtn-info:hover,
.flatbtn-info.disabled:focus,
.flatbtn-info[disabled]:focus,
fieldset[disabled] .flatbtn-info:focus,
.flatbtn-info.disabled:active,
.flatbtn-info[disabled]:active,
fieldset[disabled] .flatbtn-info:active,
.flatbtn-info.disabled.active,
.flatbtn-info[disabled].active,
fieldset[disabled] .flatbtn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.flatbtn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.flatbtn-link {
  font-weight: normal;
  color: #008cba;
  cursor: pointer;
  border-radius: 0;
}

.flatbtn-link,
.flatbtn-link:active,
.flatbtn-link[disabled],
fieldset[disabled] .flatbtn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.flatbtn-link,
.flatbtn-link:hover,
.flatbtn-link:focus,
.flatbtn-link:active {
  border-color: transparent;
}

.flatbtn-link:hover,
.flatbtn-link:focus {
  color: #00526e;
  text-decoration: underline;
  background-color: transparent;
}

.flatbtn-link[disabled]:hover,
fieldset[disabled] .flatbtn-link:hover,
.flatbtn-link[disabled]:focus,
fieldset[disabled] .flatbtn-link:focus {
  color: #999999;
  text-decoration: none;
}

.flatbtn-lg {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 0;
}

.flatbtn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}

.flatbtn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}

.flatbtn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.flatbtn-block + .flatbtn-block {
  margin-top: 5px;
}

/** Custom styles **/

.smallInput {
    width: 150px !important;
    padding: 2px !important;
    font-size: 12px !important;
}

.smallInput select {
    height: 25px !important;
}

.smallInput input {
    height: 20px !important;
}

/* Aligns */

.vmiddle {
    vertical-align: middle;
}

.vtop {
    vertical-align: top;
}

.vbottom {
    vertical-align: bottom;
}

.vbase {
    vertical-align: baseline;
}

.tcenter {
    text-align: center;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.icon-white {
    color: #ffffff;
}

table thead tr th {
    background: #efefef;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }

li.ui-tabs-active a {cursor: pointer !important;}
li.ui-state-hover a {color: #ffffff !important;}

#mg-wrapper pre {
    background: #f9f9f9;
}

#mg-wrapper input[type="text"], #mg-wrapper .select2-choices, #mg-wrapper textarea {
    background: none;
    border: 1px solid #aaa;
    border-radius: 0;
}

#mg-wrapper input[type="text"]:hover, #mg-wrapper .select2-choices:hover {
    
}

#mg-wrapper .portStatusLoader {
    background: url('../../../../../images/loadingsml.gif') no-repeat;
    color: #999;
    padding-left: 16px;
    line-height: 14px;
    font-size: x-small;
}

/**
 * Select2 Bootstrap CSS 1.0
 * Compatible with select2 3.3.2 and bootstrap 2.3.1
 * MIT License
 */
.select2-container {
  vertical-align: middle;
}
.select2-container.input-mini {
  width: 60px;
}
.select2-container.input-small {
  width: 90px;
}
.select2-container.input-medium {
  width: 150px;
}
.select2-container.input-large {
  width: 210px;
}
.select2-container.input-xlarge {
  width: 270px;
}
.select2-container.input-xxlarge {
  width: 530px;
}
.select2-container.input-default {
  width: 220px;
}
.select2-container[class*="span"] {
  float: none;
  margin-left: 0;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  height: 28px;
  line-height: 29px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: none;
  background-color: white;
  filter: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container .select2-choice div, .select2-container .select2-choice .select2-arrow,
.select2-container.select2-container-disabled .select2-choice div,
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  border-left: none;
  background: none;
  filter: none;
}

.control-group.error [class^="select2-choice"] {
  border-color: #b94a48;
}

.select2-container-multi .select2-choices .select2-search-field {
  height: 28px;
  line-height: 27px;
}

.select2-drop.select2-drop-active,
.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
  border-color: rgba(82, 168, 236, 0.8);
  border-color: #ccc\0;
  outline: none;
}

[class^="input-"] .select2-container {
  font-size: 14px;
}

.input-prepend [class^="select2-choice"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-append [class^="select2-choice"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-dropdown-open [class^="select2-choice"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[class^="input-"] .select2-offscreen {
  position: absolute;
}

.select2-drop-mask {
    z-index: 10000;
}
.select2-drop {
    z-index: 10001;
}
.select2-search {
    z-index: 10002;
}

/**
 * This stops the quick flash when a native selectbox is shown and
 * then replaced by a select2 input when javascript kicks in. This can be
 * removed if javascript is not present
 */
select.select2 {
  height: 28px;
  visibility: hidden;
}

#mg-wrapper .flatbtn-warning {
    background: #ED9C28;
}

#mg-wrapper .flatbtn-danger {
    background: #D2322D;
}

#mg-wrapper .flatbtn-info {
    background: #39B3D7;
}

#mg-wrapper table tr td.status {
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 25px;
    font-size: 14px;
    vertical-align: middle;
}

#mg-wrapper table tr td.status.up {
    background: #62c462;
}
#mg-wrapper table tr td.status.down {
    background: #f04124;
}

#mg-wrapper .vmiddle {
    vertical-align: middle !important;
}

/* ------------------------------------------
 * CSS3 GITHUB BUTTONS (Nicolas Gallagher)
 * Licensed under Unlicense
 * http://github.com/necolas/css3-github-buttons
 * --------------------------------------- */


/* =============================================================================
   Base Button
   ========================================================================== */

#mg-wrapper .button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

#mg-wrapper .button:hover ,
#mg-wrapper .button:focus ,
#mg-wrapper .button:active ,
#mg-wrapper .button.active  {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

#mg-wrapper .button:active ,
#mg-wrapper .button.active  {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
#mg-wrapper .button::-moz-focus-inner  {
    padding: 0;
    border: 0;
}


/* =============================================================================
   Button icons
   ========================================================================== */

#mg-wrapper .button.icon:before  {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url(../img/icons.png) 0 99px no-repeat;
}

#mg-wrapper .button.arrowup.icon:before  { background-position: 0 0; }
#mg-wrapper .button.arrowup.icon:hover:before ,
#mg-wrapper .button.arrowup.icon:focus:before ,
#mg-wrapper .button.arrowup.icon:active:before  { background-position: -12px 0; }

#mg-wrapper .button.arrowdown.icon:before  { background-position: 0 -12px; }
#mg-wrapper .button.arrowdown.icon:hover:before ,
#mg-wrapper .button.arrowdown.icon:focus:before ,
#mg-wrapper .button.arrowdown.icon:active:before  { background-position: -12px -12px; }

#mg-wrapper .button.arrowleft.icon:before  { background-position: 0 -24px; }
#mg-wrapper .button.arrowleft.icon:hover:before ,
#mg-wrapper .button.arrowleft.icon:focus:before ,
#mg-wrapper .button.arrowleft.icon:active:before  { background-position: -12px -24px; }

#mg-wrapper .button.arrowright.icon:before  { float:right; margin: 0 -0.25em 0 0.5em; background-position: 0 -36px; }
#mg-wrapper .button.arrowright.icon:hover:before ,
#mg-wrapper .button.arrowright.icon:focus:before ,
#mg-wrapper .button.arrowright.icon:active:before  { background-position: -12px -36px; }

#mg-wrapper .button.approve.icon:before  { background-position: 0 -48px; }
#mg-wrapper .button.approve.icon:hover:before ,
#mg-wrapper .button.approve.icon:focus:before ,
#mg-wrapper .button.approve.icon:active:before  { background-position: -12px -48px; }

#mg-wrapper .button.add.icon:before  { background-position: 0 -288px; }
#mg-wrapper .button.add.icon:hover:before ,
#mg-wrapper .button.add.icon:focus:before ,
#mg-wrapper .button.add.icon:active:before  { background-position: -12px -288px; }

#mg-wrapper .button.remove.icon:before  { background-position: 0 -60px; }
#mg-wrapper .button.remove.icon:hover:before ,
#mg-wrapper .button.remove.icon:focus:before ,
#mg-wrapper .button.remove.icon:active:before  { background-position: -12px -60px; }

#mg-wrapper .button.log.icon:before  { background-position: 0 -72px; }
#mg-wrapper .button.log.icon:hover:before ,
#mg-wrapper .button.log.icon:focus:before ,
#mg-wrapper .button.log.icon:active:before  { background-position: -12px -72px; }

#mg-wrapper .button.calendar.icon:before  { background-position: 0 -84px; }
#mg-wrapper .button.calendar.icon:hover:before ,
#mg-wrapper .button.calendar.icon:focus:before ,
#mg-wrapper .button.calendar.icon:active:before  { background-position: -12px -84px; }

#mg-wrapper .button.chat.icon:before  { background-position: 0 -96px; }
#mg-wrapper .button.chat.icon:hover:before ,
#mg-wrapper .button.chat.icon:focus:before ,
#mg-wrapper .button.chat.icon:active:before  { background-position: -12px -96px; }

#mg-wrapper .button.clock.icon:before  { background-position: 0 -108px; }
#mg-wrapper .button.clock.icon:hover:before ,
#mg-wrapper .button.clock.icon:focus:before ,
#mg-wrapper .button.clock.icon:active:before  { background-position: -12px -108px; }

#mg-wrapper .button.settings.icon:before  { background-position: 0 -120px; }
#mg-wrapper .button.settings.icon:hover:before ,
#mg-wrapper .button.settings.icon:focus:before ,
#mg-wrapper .button.settings.icon:active:before  { background-position: -12px -120px; }

#mg-wrapper .button.comment.icon:before  { background-position: 0 -132px; }
#mg-wrapper .button.comment.icon:hover:before ,
#mg-wrapper .button.comment.icon:focus:before ,
#mg-wrapper .button.comment.icon:active:before  { background-position: -12px -132px; }

#mg-wrapper .button.fork.icon:before  { background-position: 0 -144px; }
#mg-wrapper .button.fork.icon:hover:before ,
#mg-wrapper .button.fork.icon:focus:before ,
#mg-wrapper .button.fork.icon:active:before  { background-position: -12px -144px; }

#mg-wrapper .button.like.icon:before  { background-position: 0 -156px; }
#mg-wrapper .button.like.icon:hover:before ,
#mg-wrapper .button.like.icon:focus:before ,
#mg-wrapper .button.like.icon:active:before  { background-position: -12px -156px; }

#mg-wrapper .button.favorite.icon:before  { background-position: 0 -348px; }
#mg-wrapper .button.favorite.icon:hover:before ,
#mg-wrapper .button.favorite.icon:focus:before ,
#mg-wrapper .button.favorite.icon:active:before  { background-position: -12px -348px; }

#mg-wrapper .button.home.icon:before  { background-position: 0 -168px; }
#mg-wrapper .button.home.icon:hover:before ,
#mg-wrapper .button.home.icon:focus:before ,
#mg-wrapper .button.home.icon:active:before  { background-position: -12px -168px; }

#mg-wrapper .button.key.icon:before  { background-position: 0 -180px; }
#mg-wrapper .button.key.icon:hover:before ,
#mg-wrapper .button.key.icon:focus:before ,
#mg-wrapper .button.key.icon:active:before  { background-position: -12px -180px; }

#mg-wrapper .button.lock.icon:before  { background-position: 0 -192px; }
#mg-wrapper .button.lock.icon:hover:before ,
#mg-wrapper .button.lock.icon:focus:before ,
#mg-wrapper .button.lock.icon:active:before  { background-position: -12px -192px; }

#mg-wrapper .button.unlock.icon:before  { background-position: 0 -204px; }
#mg-wrapper .button.unlock.icon:hover:before ,
#mg-wrapper .button.unlock.icon:focus:before ,
#mg-wrapper .button.unlock.icon:active:before  { background-position: -12px -204px; }

#mg-wrapper .button.loop.icon:before  { background-position: 0 -216px; }
#mg-wrapper .button.loop.icon:hover:before ,
#mg-wrapper .button.loop.icon:focus:before ,
#mg-wrapper .button.loop.icon:active:before  { background-position: -12px -216px; }

#mg-wrapper .button.search.icon:before  { background-position: 0 -228px; }
#mg-wrapper .button.search.icon:hover:before ,
#mg-wrapper .button.search.icon:focus:before ,
#mg-wrapper .button.search.icon:active:before  { background-position: -12px -228px; }

#mg-wrapper .button.mail.icon:before  { background-position: 0 -240px; }
#mg-wrapper .button.mail.icon:hover:before ,
#mg-wrapper .button.mail.icon:focus:before ,
#mg-wrapper .button.mail.icon:active:before  { background-position: -12px -240px; }

#mg-wrapper .button.move.icon:before  { background-position: 0 -252px; }
#mg-wrapper .button.move.icon:hover:before ,
#mg-wrapper .button.move.icon:focus:before ,
#mg-wrapper .button.move.icon:active:before  { background-position: -12px -252px; }

#mg-wrapper .button.edit.icon:before  { background-position: 0 -264px; }
#mg-wrapper .button.edit.icon:hover:before ,
#mg-wrapper .button.edit.icon:focus:before ,
#mg-wrapper .button.edit.icon:active:before  { background-position: -12px -264px; }

#mg-wrapper .button.pin.icon:before  { background-position: 0 -276px; }
#mg-wrapper .button.pin.icon:hover:before ,
#mg-wrapper .button.pin.icon:focus:before ,
#mg-wrapper .button.pin.icon:active:before  { background-position: -12px -276px; }

#mg-wrapper .button.reload.icon:before  { background-position: 0 -300px; }
#mg-wrapper .button.reload.icon:hover:before ,
#mg-wrapper .button.reload.icon:focus:before ,
#mg-wrapper .button.reload.icon:active:before  { background-position: -12px -300px; }

#mg-wrapper .button.rss.icon:before  { background-position: 0 -312px; }
#mg-wrapper .button.rss.icon:hover:before ,
#mg-wrapper .button.rss.icon:focus:before ,
#mg-wrapper .button.rss.icon:active:before  { background-position: -12px -312px; }

#mg-wrapper .button.tag.icon:before  { background-position: 0 -324px; }
#mg-wrapper .button.tag.icon:hover:before ,
#mg-wrapper .button.tag.icon:focus:before ,
#mg-wrapper .button.tag.icon:active:before  { background-position: -12px -324px; }

#mg-wrapper .button.trash.icon:before  { background-position: 0 -336px; }
#mg-wrapper .button.trash.icon:hover:before ,
#mg-wrapper .button.trash.icon:focus:before ,
#mg-wrapper .button.trash.icon:active:before  { background-position: -12px -336px; }

#mg-wrapper .button.user.icon:before  { background-position: 0 -360px; }
#mg-wrapper .button.user.icon:hover:before ,
#mg-wrapper .button.user.icon:focus:before ,
#mg-wrapper .button.user.icon:active:before  { background-position: -12px -360px; }


/* =============================================================================
   Button extensions
   ========================================================================== */

/* Primary button
   ========================================================================== */

#mg-wrapper .button.primary  {
    font-weight: bold;
}

/* Danger button
   ========================================================================== */

#mg-wrapper .button.danger  {
    color: #900;
}

#mg-wrapper .button.danger:hover ,
#mg-wrapper .button.danger:focus ,
#mg-wrapper .button.danger:active  {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -ms-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

#mg-wrapper .button.danger:active ,
#mg-wrapper .button.danger.active  {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -ms-linear-gradient(#b33630, #dc5f59);
    background-image: -o-linear-gradient(#b33630, #dc5f59);
    background-image: linear-gradient(#b33630, #dc5f59);
}

/* Pill button
   ========================================================================== */

#mg-wrapper .button.pill  {
    border-radius: 50em;
}

/* Disabled button
   ========================================================================== */

#mg-wrapper .button.disable  {
    opacity: 0.5;
    cursor: default;
}

/* Big button
   ========================================================================== */

#mg-wrapper .button.big  {
    font-size: 14px;
}

#mg-wrapper .button.big.icon:before  {
    top: 0;
}


/* =============================================================================
   Button groups
   ========================================================================== */

/* Standard group
   ========================================================================== */

#mg-wrapper .button-group  {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

#mg-wrapper .button + .button ,
#mg-wrapper .button + .button-group ,
#mg-wrapper .button-group + .button ,
#mg-wrapper .button-group + .button-group  {
    margin-left: 15px;
}

#mg-wrapper .button-group li  {
    float: left;
    padding: 0;
    margin: 0;
}

#mg-wrapper .button-group .button  {
    float: left;
    margin-left: -1px;
}

#mg-wrapper .button-group > .button:not(:first-child):not(:last-child) ,
#mg-wrapper .button-group li:not(:first-child):not(:last-child) .button  {
    border-radius: 0;
}

#mg-wrapper .button-group > .button:first-child ,
#mg-wrapper .button-group li:first-child .button  {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#mg-wrapper .button-group > .button:last-child ,
#mg-wrapper .button-group li:last-child > .button  {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Minor group
   ========================================================================== */

#mg-wrapper .button-group.minor-group .button  {
    border: 1px solid #d4d4d4;
    text-shadow: none;
    background-image: none;
    background-color: #fff;
}

#mg-wrapper .button-group.minor-group .button:hover ,
#mg-wrapper .button-group.minor-group .button:focus  {
    background-color: #599bdc;
}

#mg-wrapper .button-group.minor-group .button:active ,
#mg-wrapper .button-group.minor-group .button.active  {
    background-color: #3072b3;
}

#mg-wrapper .button-group.minor-group .button.icon:before  {
    opacity: 0.8;
}

/* =============================================================================
   Button container (mixing buttons and groups, e.g., nav bar)
   ========================================================================== */

#mg-wrapper .button-container .button ,
#mg-wrapper .button-container .button-group  {
    vertical-align: top;
}

#mg-wrapper .datepicker {
        background-image: url('../modules/addons/elastixmanager/core/assets/img/calendaricon.png');
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 18px;
}
  
#mg-wrapper table th, table th a {cursor: pointer;}
  
#mg-wrapper #ajaxLoader {
      min-height: 40px;
      display: none;
      position: absolute;
      width: 100%;
      text-align: center;
 }
 
 #mg-wrapper .rightMargin {
     margin-right: 15px;
 }
 
 #mg-wrapper .ui-datepicker-trigger {
     margin-top: -12px;
 }
 
 #mg-wrapper .actionTooltip {
     cursor: pointer;
 }
 
 #mg-wrapper .popover {
     width: 345px;
 }
 
 #mg-wrapper tr.callOutRow td {
     border-bottom: solid 1px #ED9C28;
 }
 
 #mg-wrapper .with-radius, #mg-wrapper .label {
     border-radius: 3px;
 }

 #mg-wrapper .label-success {
     background: #51a351;
 }
 
 #mg-wrapper .headline {
     margin-bottom: 10px;
 }
 
 #mg-wrapper table.gridTable thead tr th {
     background-color: #1A4D80;
     text-align: center;
     font-weight: bold;
     vertical-align: middle;
 }
 
 #mg-wrapper table.gridTable thead tr th,#mg-wrapper table.gridTable tbody tr td {
      padding: 5px 14px 5px 5px;
 } 
 #mg-wrapper table.gridTable tbody tr td {
     min-height: 50px;
 }
 #mg-wrapper table.gridTable thead tr th:first-child {
     padding: 5px;
     
 }
  #mg-wrapper table.gridTable tbody tr td:first-child, 
  #mg-wrapper table.gridTable tbody tr td:nth-child(7), 
  #mg-wrapper table.gridTable tbody tr td:nth-child(4), 
  #mg-wrapper table.gridTable tbody tr td:nth-child(9) {
     text-align: center;   
 }
 #mg-wrapper table.gridTable tbody tr td:first-child {
     padding: 0px;
 }
 #mg-wrapper table.gridTable thead tr th a {
     color: #fff;
 }
#mg-wrapper table.gridTable2 thead tr th {
     background-color: #1A4D80;
     text-align: center;
     font-weight: bold;
     vertical-align: middle;
 }
  #mg-wrapper table.gridTable2 thead tr th,#mg-wrapper table.gridTable2 tbody tr td {
      padding: 5px 14px 5px 5px;
 } 
 #mg-wrapper table.gridTable2 tbody tr td {
     min-height: 50px;
 }
 #mg-wrapper table.gridTable2 thead tr th:first-child {
     padding: 5px;
     
 }
  #mg-wrapper table.gridTable2 tbody tr td:first-child, 
  #mg-wrapper table.gridTable2 tbody tr td:nth-child(7), 
  #mg-wrapper table.gridTable2 tbody tr td:nth-child(4), 
  #mg-wrapper table.gridTable2 tbody tr td:nth-child(10) {
     text-align: center;   
 }
 #mg-wrapper table.gridTable2 tbody tr td:first-child {
     padding: 0px;
 }
 #mg-wrapper table.gridTable2 thead tr th a {
     color: #fff;
 }
 #mg-wrapper tr.fullsynced td {
     background-color: rgba(204, 255, 102, 0.6);
 }
 
 #mg-wrapper tr.partsynced td {
     background: #FFFF95;
 }
  #mg-wrapper tr.nosync td {
     background-color: rgba(215, 49, 43, 0.1);
 }
#mg-wrapper select {
    width: auto;
    
}
#mg-wrapper .dataTables_length select, #mg-wrapper .dataTables_filter input{
    margin-bottom: 0px;
}
#mg-wrapper .dataTables_length label, #mg-wrapper .dataTables_filter label{
    margin-bottom: 15px;
}
#mg-wrapper .ajaxAction {
    margin-right: 4px;
    margin-bottom: 4px;
}
#mg-wrapper .saAjaxAction {
    margin-right: 4px;
    margin-bottom: 4px;
}
#synchronizeLog code {
    display: block;
    margin-bottom: 4px;
    white-space: normal;
}
#synchronizeLog code .success{
    color: green;
}
.attention {
    color: #D83535;
    font-weight: bold;
    font-size: 14px;
}
.dataTables_processing {
    box-sizing: content-box;
    background: #fff url(../img/loading.gif) no-repeat 142px 7px;
    padding-right: 32px;
    width: 218px;
}
#sync-server-select label {
    margin-bottom: 10px;
}
#save_settings_form table td{
    padding: 4px;
    vertical-align: middle;
}
#save_settings_form .options-label {
    display: inline;
}
#save_settings_form .options-label-description {
    color: #999;
    line-height: 1.5;
    display: inline;
    font-size: 12px;
    cursor: default;
}
.product-label span {
    margin-left: 3px;
}
.product-label {
    width: 50%;
    float: left;
}
#mg-content select[name=product_type] {
    margin-bottom: 0px;
}
#logs {
    width: 100%;
}
#logs th {
    text-align: center;
    padding: 2px;
}
#logs td:last-child {
    text-align: center;
    width: auto;
}
#logs td {
    padding: 2px;
} 
#logs .button {
    margin-left: 4px;
    
}
#mg-wrapper #logs .button {
    margin-left: 4px;
}
#mg-wrapper #log-details tr td:first-child {
    font-weight: bold;
}
.right-buttons {
    text-align: right;
}
#dependencies-table {
    width: 100%;
    color: #000;
}
#dependencies-table th {
    text-align: center;
}
#config-table td{
    padding: 10px;
    vertical-align: top;
}
#config-table td:last-child {
    text-align: center;
    width: auto;
}
#dependencies-table td:last-child {
    text-align: center;
    width: auto;
}
#package-WHMCS {
    max-width: 280px;
}
#mg-wrapper select.clients {
    margin-bottom: 0px;
}
.success-status {
    color: green;
}
.fail-status {
    color: red;
}