          <div class="tab-pane" id="control-sidebar-skins-tab">
		  
            <ul class="control-sidebar-menu">
              <li>
                <a href="#">
                  <i class="menu-icon fa fa-dashboard bg-red "></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Lara Skins</h4>
                    <p><div class="progress progress-xxs"><div class="progress-bar progress-bar-danger" style="width: 100%"></div></div></p>
                  </div>
                </a>
              </li>
            </ul>
			<p>Select any of the following skins to apply.<br></p>

			<h4 class="control-sidebar-heading">Dark Skins</h4>
			<ul class="list-unstyled clearfix">
				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-blue" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin">Blue</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-black" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)">
						<span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #222;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin">Black</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-purple" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-purple-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin">Purple</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-green" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-green-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin">Green</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-red" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-red-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin">Red</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-yellow" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-yellow-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin">Yellow</p>
				</li>
			</ul>
				
			<h4 class="control-sidebar-heading">Light Skins</h4>	

			<ul class="list-unstyled clearfix">	
				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-blue-light" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin" >Blue</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-black-light" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)">
						<span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin" >Black</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-purple-light" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-purple-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin" >Purple</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-green-light" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-green-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin" >Green</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-red-light" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-red-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin" >Red</p>
				</li>

				<li style="float:left; width: 33.33333%; padding: 5px;">
					<a class="clearfix full-opacity-hover" data-lara-skin="skin-yellow-light" href="javascript:void(0);" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4); border: 1px solid #FFF;">
					<div>
						<span class="bg-yellow-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
					</div>

					<div>
						<span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
					</div></a>

					<p class="text-center no-margin" >Yellow</p>
				</li>
			</ul>
		  </div>