/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
#Primary_Navbar-Domains{
	display:none;
}
#Primary_Navbar-Affiliates{
	display:none;
}
#Primary_Navbar-Services-Order_New_Services{
	display:none;
}

#Primary_Navbar-Billing-Mass_Payment{
	display:none;
}

#Primary_Navbar-Billing-My_Quotes{
		display:none;
}
.clientareainvoices .sidebar-secondary{
display:none;

}
.clientareainvoices .panel-danger{
	display:none;
} 

.clientareaproductdetails .sidebar-primary{
	display:none;
}

.clientareaproductdetails #internal-content{
		width:100% !important;
}

.clientareahome #internal-content{
	width:100% !important;
}

.clientareahome .sidebar-secondary{
		width:100% !important;
}
.dashboard-tile.detail .icon i {
    color: rgba(0, 0, 0, 0.3);
}

#diskSpace div, #bandwidth div{
	display:block !important;
	margin:0 auto;
}
.clientareahome .dashboard-tile.detail.tile-blue {
	background-color: #2980b9;
}
.clientareahome .dashboard-tile.detail.tile-yellow {
	background-color: #f39c12;
}
.clientareahome .dashboard-tile.detail.tile-turquoise {
	background-color: #e74c3c;
}
.sidebar{
	background-color: #192229;
}
#header {
	background-color: #192229;
}
#header .brand {
	background-color: #192229;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #11171c;
	border-left: solid 4px #2980b9;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .sidebar .nav > li > a:focus {
    background-color: #11171c;	
}
.sidebar .nav .nav-sub {
    background: #11171c;
}
.panel-default > .panel-heading {
    border-bottom: 0px solid #3598DB;
    background: #192229 none repeat scroll 0% 0%;
}
	
	
	
	
	
	
	
	
	
	
	
	
	