.table form 
{
    padding: 0;
    margin: 0;
}

.table input
{
    margin: 0!important;
}

input[disabled], select[disabled], textarea[disabled], .body input[readonly], select[readonly], textarea[readonly] {
    background-color: #EEEEEE!important;
    cursor: not-allowed!important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
    color: #333333!important;
    text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover
{
    text-decoration: underline;
}


#content_container #left_side
{
    display: none;
}


#content_container #content
{
    margin-left: 0;
}

.extended-pricing
{
    white-space: nowrap;
}

.extended-pricing + .extended-pricing
{
    margin-top: 5px!important;
}

.extended-pricing label
{
    display: inline-block!important;
    width: 100px!important;
}

.extended-pricing-label{
    text-align: right;
    margin: 10px 0 !important;
}

#module_resources td
{
    vertical-align: middle!important;
}


.usage-records-header
{
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(center top , #F7F7F7, #EFEFEF);
    background-repeat: repeat-x;
    font-weight: bold;
}

.usage-records-header .checkbox-container
{
    
}


.usage-records-line > div,
.usage-records-header > div
{
    padding: 3px!important;
    vertical-align: middle;
}

.usage-records-header h4
{
    vertical-align: middle!important;
    line-height: 28px!important;
}

.extended-pricing-line
{
    background-color: #EAEAEA!important;
    border-left: 2px solid #5BB75B;
    border-right: 2px solid #5BB75B;
}

.last-line
{
    border-bottom: 2px solid #5BB75B;
}

.base-usage-records-line
{
    border-top: 1px solid #EEE;
}



