
/* ==========================================
						--- RESET STYLES ---
  ========================================== */

	#onepage * {
		outline: none;
	}
  #onepage div, #onepage span, #onepage applet, #onepage object, #onepage iframe, #onepage 
  h1, #onepage h2, #onepage h3, #onepage h4, #onepage h5, #onepage h6, #onepage p, #onepage blockquote, #onepage pre, #onepage 
  a, #onepage abbr, #onepage acronym, #onepage address, #onepage big, #onepage cite, #onepage code, #onepage 
  del, #onepage dfn, #onepage em, #onepage img, #onepage ins, #onepage kbd, #onepage q, #onepage s, #onepage samp, #onepage 
  small, #onepage strike, #onepage strong, #onepage sub, #onepage sup, #onepage tt, #onepage var, #onepage 
  b, #onepage u, #onepage i, #onepage center, #onepage 
  dl, #onepage dt, #onepage dd, #onepage ol, #onepage ul, #onepage li, #onepage 
  fieldset, #onepage form, #onepage label, #onepage legend, #onepage 
  table, #onepage caption, #onepage tbody, #onepage tfoot, #onepage thead, #onepage tr, #onepage th, #onepage td, #onepage 
  article, #onepage aside, #onepage canvas, #onepage details, #onepage embed, #onepage 
  figure, #onepage figcaption, #onepage footer, #onepage header, #onepage hgroup, #onepage 
  menu, #onepage nav, #onepage output, #onepage ruby, #onepage section, #onepage summary, #onepage 
  time, #onepage mark, #onepage audio, #onepage video {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%; 
	  font: inherit;
	  text-shadow: none;
	  position: static;
  }
  /* HTML5 display-role reset for older browsers */
  article, #onepage aside, #onepage details, #onepage figcaption, #onepage figure, #onepage 
  footer, #onepage header, #onepage hgroup, #onepage menu, #onepage nav, #onepage section {
	  display: block;
  }
  #onepage ol, #onepage ul {
	  list-style: none;
  }
  #onepage blockquote, #onepage q {
	  quotes: none;
  }
  #onepage blockquote:before, #onepage blockquote:after, #onepage 
  q:before, #onepage q:after {
	  content: '';
	  content: none;
  }
  #onepage table {
	  border-collapse: collapse;
	  border-spacing: 0;
  }
  #onepage b {
	  font-weight: bold;
  }
  #onepage input,
  #onepage select,
  #onepage .radio,
  #onepage .checkbox {
	  width: auto;	
	  height: auta;
	  min-height: auto;
	  min-width: auto;
	  max-width: auto;
	  max-height: auto;
  }
	

/* ==========================================
						--- GENERAL STYLES ---
  ========================================== */
 	
	
	#onepage {
		padding: 0 35px;
		margin: 0 -5px;
		color: #595964;
		font: 13px/18px 'Ubuntu', sans-serif normal;
		position: relative;
		background: url(../images/onestep-bg.jpg) no-repeat right 80px;
	}
	
	#onepage .cartsummary-row:after,
	#onepage .step-tabs:after,
	#stepcontent:after,
	#onepage .clearfix,
	#onepage .slider-labels:after,
	#onepage .widget:after,
	#onepage .widget-row:after {
		display: block;
		content: "";
		clear: both;
	}
	
	#onepage .affix {
	 	position: fixed;
		top: 20px;
		width: 240px;
	}
	
	#onepage .affix-bottom {
	 	bottom: 30px;
		top: auto;
		position: absolute;
	}
	
	#onepage .row{
		margin-left: -20px;
	}
	
	#onepage .span-half {
		float: left;
		width: 260px;
		margin-left: 20px;
	}
	
	#onepage .pull-right,
	#onepage #onepage-slider .slider .ui-slider-handle .icon-caret-right {
			float: right;
	}
	
	#onepage .pull-left,
	#onepage #onepage-slider .slider-packages > div,
	#onepage #onepage-slider .slider-labels p,
	#onepage #onepage-slider .slider .ui-slider-handle .icon-caret-left  {
			float: left;
	}	
	#onepage .cartsummary-total,
	#onepage .step-tabs li.active a,
	#onepage .step-tabs li a:hover,
	#onepage .step-tabs li.active label,
	#onepage .step-tabs li label:hover,
	#onepage .step-actions .btn.btn-prevstep  {
		margin-right: 20px;
	  background-color: #2581f1;
	  *background-color: #2581f1;
	  background-image: -moz-linear-gradient(top, #338fff, #2581f1);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#338fff), to(#2581f1));
	  background-image: -webkit-linear-gradient(top, #338fff, #2581f1);
	  background-image: -o-linear-gradient(top, #338fff, #2581f1);
	  background-image: linear-gradient(to bottom, #338fff, #2581f1);
	  background-repeat: repeat-x;
	}
	#onepage .cartsummary-total #promocode .btn,
	#onepage #onepage-slider .slider-features li { 
		-webkit-transition: linear color 0.15s, linear background-color 0.15s;
		   -moz-transition: linear color 0.15s, linear background-color 0.15s;
				    transition: linear color 0.15s, linear background-color 0.15s;
	}
	#onepage  .widget,
	#onepage #onepage-slider .slider-labels p,
	#onepage .layerpackage-bluebox,
	#onepage #onepage-slider .slider .ui-slider-handle *,
	#onepage .cartsummary-row h5 a,
	#onepage .step-tabs li,
	#onepage .step-tabs li.active a i,
	#onepage .loader ,
	#onepage #add-domain-result{
		-webkit-transition: all linear 0.15s;
		   -moz-transition: all linear 0.15s;
				    transition: all linear 0.15s;
	}
	
	#onepage #promocode ::-webkit-input-placeholder { /* WebKit browsers */
			color: rgba(255,255,255, 0.8);
	}
	#onepage #promocode  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: rgba(255,255,255, 0.8);
	}
	#onepage #promocode ::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: rgba(255,255,255, 0.8);
	}
	#onepage #promocode :-ms-input-placeholder { /* Internet Explorer 10+ */
			color:  rgba(255,255,255, 0.8);
	}
	
	#onepage .loader {
		height: 0;
		width: 32px;
		background: url(../images/loader.gif) no-repeat 0 0;
		visibility: hidden;
		opacity: 0;
	}
	
	#onepage .loader.on {
		height: 32px;
		visibility: visible;
		opacity: 1;
	}

/* ==========================================
		 			 --- TYPOGRAPHY STYLES ---
  ========================================== */


  #onepage h2 b {
		color: #328EFE;
		font-weight: 700; 
  }
  #onepage h1 {
	  margin: 0 0 10px 0;
	  font-size: 32px;
	  font-weight: 100;	
  }
	
  #onepage h2 {
	  margin: 0 0 30px 0;
	  font-size: 28px;
	  font-weight: 100;	
		text-align: center;
		line-height: 32px;
		letter-spacing: 0;
  }
	
	#onepage h3 {
		margin-bottom: 30px;
		color: #328EFE;
		font-size: 22px;
		font-weight: 100;
	}
	
	#onepage h4 {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 700;
	}
	
	#onepage .font-blue,
	#onepage a:hover,
	#onepage #onepage-slider .slider-labels p:hover,
	#onepage #onepage-slider .slider-features li .slider-features-bar li:hover {
		color: #328EFE;
	}
	
	#onepage .font-green {
		color: #4dbd56;
	}
	
	#onepage .font-red {
		color: #B94A48;
	}
	
	#onepage a:hover,
	#onepage a {
		text-decoration: none;
	}

  	
/* ==========================================
			  		 --- ONEPAGE CONTENT ---
  ========================================== */
	
	
	#onepage #stepcontent {
			padding-top: 20px;
			position: relative;
	}
	
	#onepage #stepcontent .step-main {
		float: left;
		width: 605px;
		margin-right: 30px;
	}
	
	#onepage #stepcontent .step-sidebar {
		float: left;
		width: 245px;
	}
	
	
	
/* ==========================================
			  		   --- WIDGET ---
  ========================================== */
	
	
	#onepage .widget {
		margin: 0 0 30px 0;
		background-color: #fff;
		border: 1px solid #e6e9eb;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
						box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
	  -webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
			      border-radius: 4px;
	}
	
	#onepage .widget-row {
		padding: 20px 30px;
		border-bottom: 1px solid #ebebeb;
	}
	
	#onepage .widget-row > .control-group:last-child, 
	#onepage .span-half > .control-group:last-child {
		margin: 0;
	}
	
	#onepage .widget-subrow {
		margin-bottom: 30px;
	}
	
	#onepage .widget-subrow:last-child {
		margin: 0;
	}
	
	#onepage .widget .widget-row:last-child {
		border-bottom: none;
	}


/* ==========================================
			  	--- ONEPAGE CARTSUMMARY ---
  ========================================== */
	
	
	#onepage .step-cartsummary {
		width: 245px;
		background-color: #fff;
		border: 1px solid #328efe;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0, 0.1);
		   -moz-box-shadow: 0 1px 5px rgba(0,0,0, 0.1);
						box-shadow: 0 1px 5px rgba(0,0,0, 0.1);
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#onepage .cartsummary-title {
		border-bottom: 1px solid #ededed;
		text-align: center;
	}
	
	#onepage .cartsummary-title h3 {
		margin: 0;
		line-height: 50px;
		position: relative;
	}
	
	#onepage .cartsummary-title h3 .loader {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	
	#onepage .cartsummary-row h5 {
		margin: 0 0 10px 0;
		padding-right: 20px;
		color: #328EFE;
		font-size: 14px;
		font-weight: 700;
		position: relative;
		word-wrap: break-word;
	}
	
	#onepage .cartsummary-row h5 a { 
		color: #d9dbdb;
		position: absolute;
		right: 0;
		top: 2px;
	}
	#onepage .cartsummary-row h5 a:hover {
		color: #e74c3c; 
		text-decoration: none;
	}
	
	/* --- CART FEATURES LIST --- */
	
	#onepage .cartsummary-row .cart-features {
			margin-bottom: 10px;
	}
	
	#onepage .cartsummary-row .cart-features li {
			font-weight: 700;
			line-height: 24px;
	}
	#onepage .cartsummary-row .cart-features li span {
			display: inline-block;
			width: 100px;
			font-weight: 100;
			word-wrap: break-word;
	}
	
	#onepage .cartsummary-row {
		padding: 10px 20px;
		border-bottom: 1px solid #ededed;
	}
	
	#onepage .cartsummary-row .cartsummary-product {
		float: left;
		width: 60%;
		font-weight: 700;
	}
	
	#onepage .cartsummary-row .cartsummary-product span {
		display: block;
		font-weight: 100;
	}
	
	#onepage .cartsummary-row .cartsummary-price {
		float: left;
		width: 40%;
		color: #328efe;
		font-weight: 700;
		text-align: right;
	}
	#onepage .cartsummary-row .prod-price {
		color: #4DBD56;
		font-weight: 700;
	}
	
	/* --- CART SUMMARY TOTAL PRICE --- */
	
		#onepage .cartsummary-subtotal ul li {
		line-height: 24px;
	}	
	
	/* --- CART SUMMARY TOTAL PRICE --- */
	
	#onepage .cartsummary-total {
		width: 205px;
		padding: 20px;
		-webkit-border-radius: 0 0 4px 4px;
			 -moz-border-radius: 0 0 4px 4px;
						border-radius: 0 0 4px 4px;
	}
	
	#onepage .cartsummary-total > span {
		color: #fff;
		font-size: 32px;
		font-weight: 700;
		lin-height: 32px;
		text-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	}
	
	#onepage .cartsummary-total p {
		margin: 0 0 20px 0;
		font-size: 16px;
		font-weight: 100;
	}
	
	#onepage .cartsummary-total small {
		font-size: 22px;
		font-weight: 100;
	}
	
	#onepage .cartsummary-total #promocode {
			padding: 20px 0 0 0;
			position: relative;
			color: #fff;
	}
	
	#onepage .cartsummary-total #promocode a {
		margin-top: 5px;
		color: #fff;
	}
	
	#onepage .cartsummary-total #promocode a:hover {
		text-decoration: underline;
	}
	
	#onepage .cartsummary-total #promocode input[type=text] {
		height: 38px;
		width: 145px;
		margin: 0;
		padding: 0 50px 0 10px;
		background-color: #2972cc;
		border: none;
		color: #fff;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1) inset;
		   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1) inset;
			      box-shadow: 0 1px 4px rgba(0,0,0,0.1) inset;
	}
	
	#onepage .cartsummary-total #promocode .btn {
		height: 30px;
		width: 35px;
		margin: 2px;
		background: #338fff;
		color: #fff;
		border: none;
		position: absolute;
		top: 22px;
		right: 2px;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
		   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
			      box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	}
	
	#onepage .cartsummary-total #promocode .btn i {
		position: absolute;
		top: 7px;
		left: 13px;
	}
	
	#onepage .cartsummary-total #promocode .btn:hover {
		background-color: #4c9dff;
	}
	
	#onepage .cartsummary-total .btn-clearcart {
			width: 180px;
			margin: 20px 0 0 0;
			border: none;
	}
	
/* ==========================================
			  		   --- FORMS ---
  ========================================== */
	
	
	#onepage .form-horizontal input,
	#onepage .form-horizontal textarea,
	#onepage .form-horizontal select,
	#onepage .form-horizontal .help-inline,
	#onepage .form-horizontal .uneditable-input,
	#onepage .form-horizontal .input-prepend,
	#onepage .form-horizontal .input-append {
		display: inline-block;
		*display: inline;
		margin-bottom: 0;
		vertical-align: middle;
		*zoom: 1;
	}
	
	#onepage .form-horizontal .hide {
		display: none;
	}
	
	#onepage .form-search .radio,
	#onepage .form-search .checkbox,
	#onepage .form-inline .radio,
	#onepage .form-inline .checkbox {
		padding-left: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
		
	#onepage .control-group,
	#onepage .form-horizontal .control-group {
		margin-bottom: 20px;
	}
	
	#onepage .control-group .controls input,
	#onepage .control-group .controls select {
		margin-bottom: 0!important;
	}
		
	#onepage .form-horizontal .control-group:before,
	#onepage .form-horizontal .control-group:after {
		display: table;
		line-height: 0;
		content: "";
	}
	
	#onepage .form-horizontal .control-group:after {
		clear: both;
	}
	
	#onepage .form-horizontal .control-label {
		float: left;
		width: 160px;
		padding-top: 5px;
		text-align: right;
		margin-bottom: 0;
	}
	
	#onepage .control-label {
		margin-bottom: 5px;
	}
	
	#onepage .form-horizontal .controls {
		*display: inline-block;
		*padding-left: 20px;
		margin-left: 180px;
		*margin-left: 0;
	}
	
	#onepage .form-horizontal .controls:first-child {
		*padding-left: 180px;
	}
	
	#onepage .form-horizontal .help-block {
		margin-bottom: 0;
	}
	
	#onepage .form-horizontal input + .help-block,
	#onepage .form-horizontal select + .help-block,
	#onepage .form-horizontal textarea + .help-block,
	#onepage .form-horizontal .uneditable-input + .help-block,
	#onepage .form-horizontal .input-prepend + .help-block,
	#onepage .form-horizontal .input-append + .help-block {
		margin-top: 10px;
	}
	
	#onepage .form-horizontal .form-actions {
		padding-left: 180px;
	}

	#onepage .control-group label {
		margin-bottom: 5px;
	}
		

	/* --- CONTROLS --- */
	
	#onepage .control-group .control-label {
		color: #666;
		text-align: left;
	}
	
	#onepage .control-group .controls input[type=text],
	#onepage .control-group .controls input[type=password],
	#onepage .control-group .controls textarea {
		width: 250px;
	}
	
	#onepage .control-group .controls select {
		width: 272px;
		height: 34px;
	}
	
	#onepage .control-group .controls  .input-small {
		width: 80px!important;
	}
	
	#onepage .control-group .controls  select.input-small {
		width: 100px!important;
	}
	
	#onepage #ccinputform {
		padding-top: 30px;
	}
	
	#onepage input[type=text],
	#onepage input[type=password],
	#onepage select,
	#onepage textarea {
		height: 20px;
		padding: 6px 10px;
		border: 1px solid #e0e0e0;
		font-size: 13px;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05) inset;
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.05) inset;
			      box-shadow: 0 1px 3px rgba(0,0,0,0.05) inset;
	}
	
	#onepage select {
		height: 38px;
	}
	
	#onepage input[type=text]:hover,
	#onepage input[type=password]:hover,
	#onepage input[type=text]:focus,
	#onepage input[type=password]:focus,
	#onepage select:hover,
	#onepage select:focus,
	#onepage textarea:hover,
	#onepage textarea:focus {
		border-color: #338fff;
		color: #338fff;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
			      box-shadow: none;
	}
	
	/* --- CONTROL ERROR --- */
	
	#onepage .control-group.error input[type=text],
	#onepage .control-group.error select,
	#onepage .control-group.error input[type=password] {
		border-color: #f7988d;
	}
	
	#onepage .control-group.error .control-label ,
	#onepage .control-group.error .help,
	#onepage .control-group.error input[type=text],
	#onepage .control-group.error input[type=password] {
		color: #e74c3c;
	}
	
	/* --- CHECKBOX & RADIO --- */
	
	#onepage input[type="radio"], 
	#onepage input[type="checkbox"] {
		margin: 0
	}
	
	#onepage label input[type=checkbox] {
			margin: -2px 10px 0 0;
	}
	
	/* --- FORMS HALF --- */
	
	#onepage .span-half .controls input[type=text],
	#onepage .span-half .controls input[type=password] {
		width: 240px;
	}
	
	#onepage .span-half .controls select {
			width: 260px;
	}
	
	#onepage .textarea-full {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		-webkit-box-sizing: borer-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}	
	
	/* --- CONTROLS HELP --- */
	
	#onepage .control-group .help {
		color: #808080;
		font-size: 12px;
	}
	
	
/* ==========================================
			  		 --- ACCORDION ---
  ========================================== */


	#onepage .accordion {
		margin-bottom: 40px;
	}
	
	#onepage .accordion-group {
		margin-bottom: 10px;
	  background-color: #f5f8fa;
	  *background-color: #f5f8fa;
	  background-image: -moz-linear-gradient(top, #f5f8fa, #edf0f2);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f8fa), to(#edf0f2));
	  background-image: -webkit-linear-gradient(top, #f5f8fa, #edf0f2);
	  background-image: -o-linear-gradient(top, #f5f8fa, #edf0f2);
	  background-image: linear-gradient(to bottom, #f5f8fa, #edf0f2);
	  background-repeat: repeat-x;
		overflow: hidden;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#onepage .accordion-heading .accordion-toggle {
		display: block;
		height: 35px;
		padding: 5px 15px;
		line-height: 35px;
	}
	
	#onepage .accordion-toggle {
		cursor: pointer;
	}
	
	#onepage .accordion-inner {
		padding: 9px 15px;
		background-color: #f5f8fa;
	}
	
	#onepage .fade {
		opacity: 0;
		-webkit-transition: opacity 0.15s linear;
			 -moz-transition: opacity 0.15s linear;
				 -o-transition: opacity 0.15s linear;
						transition: opacity 0.15s linear;
	}
	
	#onepage .fade.in {
		opacity: 1;
	}
	
	#onepage .collapse {
		position: relative;
		height: 0;
		overflow: visible;
		-webkit-transition: height 0.35s ease;
			 -moz-transition: height 0.35s ease;
				 -o-transition: height 0.35s ease;
						transition: height 0.35s ease;
	}
	#onepage .accordion .collapse {
		overflow: hidden;
	}
	
	#onepage .collapse.in {
		height: auto;
	}
	
	/* --- prodgroup --- */
	
	#onepage #prodgroup .accordion-inner {
		padding: 0;
	}
	
	#onepage .template-row {
		height: 40px;
		padding: 2px 20px;
		border-bottom: 1px solid #ebeef0;
		color: #737d80;		
		line-height: 40px;
	}
	
	#onepage .accordion-inner .template-row:last-child {
		border: none;	
	}
	
	#onepage .template-row:hover,
	#onepage .template-row.checked-row {
		background-color: #d6e6fb;
		color: #328efe;
		border-bottom: 1px solid #d0e0f5;
	}
	
	#onepage .template-row label {
		color: #737d80;		
		line-height: 40px;
	}	
	#onepage .template-row label input[type=radio] {
		margin-right: 10px;
	}
		
  #onepage .template-row input[type=checkbox] {
		margin: -3px 10px 0 0;
	}
	
	#onepage .template-row .template-name {
		display: inline-block;
		width: 400px;
	}
		
	#onepage .template-row .template-price {
	  font-weight: 700;
		float: right;
	}
	
	#onepage #prodgroup .accordion-btn { 
		float: right;
		color: #c4cacc;
		font-size: 12px;
		text-transform: uppercase;
	}
	#onepage #prodgroup .accordion-toggle:hover .accordion-btn,
	#onepage #prodgroup .accordion-toggle:hover{
		color: #328efe;
		text-decoration: none;
	}
	#onepage #prodgroup .accordion-btn,
	#onepage #prodgroup .accordion-toggle,
	#onepage .template-row,
	#onepage .cartsummary-total #promocode .btn,
	#onepage #onepage-slider .slider-features li { 
		-webkit-transition: linear color 0.15s, linear background-color 0.15s;
		   -moz-transition: linear color 0.15s, linear background-color 0.15s;
				    transition: linear color 0.15s, linear background-color 0.15s;
	}
	#onepage > .widget,
	#onepage #onepage-slider .slider-labels p,
	#onepage .layerpackage-bluebox,
	#onepage .cartsummary-row h5 a,
	#onepage .step-tabs li,
	#onepage .step-tabs li.active a i {
		-webkit-transition: all linear 0.15s;
		   -moz-transition: all linear 0.15s;
				    transition: all linear 0.15s;
	}
	
	#onepage #prodgroup .accordion-toggle {
		color: #494c4c;
		font-weight: 100;
		border-botom: 1px solid #f5f8fa;
	}
	#onepage #prodgroup .accordion-toggle b {
		color: #328efe;
	}
	#onepage #prodgroup .accordion-toggle.current {
		border-bottom: 1px solid #ebeef0;
		font-weight: 700;
		color: #328efe;
	}
	#onepage #prodgroup .accordion-toggle.current .accordion-btn {
		color: #494c4c;
		font-weight: normal;
	}
		
	
/* ==========================================
			  		   --- TABS ---
  ========================================== */
	
	#onepage .step-tabs {
		display: block;
		width: 100%;
	}
	
	#onepage .step-tabs li {
		float: left;
		margin-right: 10px;
	}
	
	#onepage .step-tabs li a,
	#onepage .step-tabs li label {
		display: block;
		height: 28px;
		padding: 0 10px 0 25px;
		background-color: #d9dbdb;
		color: #586366;
		line-height: 26px;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1) inset;
			 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1) inset;
		      	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1) inset;						
	}
	
	#onepage .step-tabs li input[type=radio] {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: -10px;
	} 
	
	#onepage .step-tabs li.active a,
	#onepage .step-tabs li a:hover,
	#onepage .step-tabs li.active label,
	#onepage .step-tabs li label:hover {
		margin-right: 0;
		color: #fff;
		text-decoration: none;
	}
	
	#onepage .step-tabs li a i,
	#onepage .step-tabs li label i {
		position: absolute;
		left: -15px;
		top: 6px;
	}
	
	#onepage .step-tabs li.active a i,
	#onepage .step-tabs li.active a:hover i,
	#onepage .step-tabs li.active label i,
	#onepage .step-tabs li.active label:hover i {
		display: inline-block;
		left: 5px;
		top: 6px;
	}	
	
	#onepage .tab-content {
			display: block;
			padding-top: 30px;
	}
	
	
/* ==========================================
			  		   --- SLIDERS ---
  ========================================== */
	
	
	#onepage .slider {
		display: inline-block;
		height: 12px;
		width: 270px;
		margin: 12px 10px 12px 10px;
		position: relative;
		background-color: #d7dadb;
	}
	
	#onepage .slider .ui-slider-handle {
		display: block;
		width: 35px;
		height: 30px;
		background: url(../images/slider-handle.png) no-repeat;
		margin: -3px 0 0 -15px;
		position: absolute;
		cursor: pointer;
		outline: none;
	}
	
	#onepage .slider .ui-slider-handle.ui-state-active {
		background-position: 0 -46px;	
	}
	
	#onepage .slider .ui-slider-range,
	#onepage .slider  {
		height: 16px;
		-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
			 -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
		      	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
		-webkit-border-radius: 10px;
			 -moz-border-radius: 10px;
						border-radius: 10px;
	}
	
	#onepage .slider.slider-gradient .ui-slider-range {
	  background-color: #328efd;
	  *background-color: #328efd;
	  background-image: -moz-linear-gradient(left, #328efd, #5bca66);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#328efd), to(#5bca66));
	  background-image: -webkit-linear-gradient(left, #328efd, #5bca66);
	  background-image: -o-linear-gradient(left, #328efd, #5bca66);
	  background-image: linear-gradient(to right, #328efd, #5bca66);
	  background-repeat: repeat-x;
	}
	
	#onepage .slider .ui-slider-range {
		background-color: #338fff;
	  margin: 0 !important;
    overflow: hidden !important;
	}
	
	#onepage .control-group  .amount {
		float: right;
		display: inline-block;
		position: relative;
	}
	
	#onepage .control-group  .amount span {
		display: inline-block;
		width: 10px;
	}
	
	#onepage .control-group .amount input[type=text] {
		height: 36px;
		width: 40px;
		padding: 0 5px;
		background-color: #f0f3f5;
		border: none;
		font: 700 14px/18px 'Ubuntu', sans-serif  ;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#onepage .control-group .amount:after {
		float: left;
		display: block;
		margin: 12px 0 0 0;
		content: "";
	  border-top: 7px solid #fff;
		border-bottom: 7px solid #fff;
		border-right: 5px solid #ebeef0;	
		position: absolute;
		top: 0;
		left: -5px;
	}
	
	
/* ==========================================
		 			 			--- BUTTONS ---
  ========================================== */
	
	
	#onepage .btn {
		display: inline-block;
		*display: inline;
		padding: 4px 12px;
		margin-bottom: 0;
		*margin-left: .3em;
		font-size: 14px;
		line-height: 20px;
		color: #333333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		*background-color: #e6e6e6;
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #bbbbbb;
		*border: 0;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		border-bottom-color: #a2a2a2;
		-webkit-border-radius: 3px;
			 -moz-border-radius: 3px;
						border-radius: 3px;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		*zoom: 1;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
						box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	#onepage .btn:hover,
	#onepage .btn:active,
	#onepage .btn.active,
	#onepage .btn.disabled,
	#onepage .btn[disabled] {
		color: #333333;
		background-color: #e6e6e6;
		*background-color: #d9d9d9;
	}
	
	#onepage .btn:active,
	#onepage .btn.active {
		background-color: #cccccc \9;
	}
	
	#onepage .btn.btn-large {
		padding: 8px 30px;
		font-size: 14px;
	}
	#onepage .btn.btn-large .icon {
		margin: 0 0 0 5px;
	}
	
	#onepage .btn:first-child {
		*margin-left: 0;
	}
	
	#onepage .btn:hover {
		color: #333333;
		text-decoration: none;
		background-position: 0 -15px;
		-webkit-transition: background-position 0.1s linear;
			 -moz-transition: background-position 0.1s linear;
				 -o-transition: background-position 0.1s linear;
						transition: background-position 0.1s linear;
	}
	
	#onepage .btn:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	
	#onepage .btn.active,
	#onepage .btn:active,
	#onepage .step-actions .btn:active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
						box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	
	#onepage .btn.disabled,
	#onepage .btn[disabled] {
		cursor: default;
		background-image: none;
		opacity: 0.65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
			 -moz-box-shadow: none;
						box-shadow: none;
	}
		
	.btn-large [class^="icon-"],
	.btn-large [class*=" icon-"] {
		margin-top: 4px;
	}
	
	#onepage .btn-small {
		padding: 2px 10px;
		font-size: 11.9px;
		-webkit-border-radius: 3px;
			 -moz-border-radius: 3px;
						border-radius: 3px;
	}
	
	#onepage .btn-small [class^="icon-"],
	#onepage .btn-small [class*=" icon-"] {
		margin-top: 0;
	}
	
	.btn-mini [class^="icon-"],
	.btn-mini [class*=" icon-"] {
		margin-top: -1px;
	}
	
	#onepage .btn-mini {
		padding: 0 6px;
		font-size: 10.5px;
		-webkit-border-radius: 3px;
			 -moz-border-radius: 3px;
						border-radius: 3px;
	}
	
	#onepage .btn-block {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box;
	}
	
	#onepage .btn-block + .btn-block {
		margin-top: 5px;
	}
	
	
	#onepage .btn-primary.active,
	#onepage .btn-warning.active,
	#onepage .btn-danger.active,
	#onepage .btn-success.active,
	#onepage .btn-info.active,
	#onepage .btn-inverse.active {
		color: rgba(255, 255, 255, 0.75);
	}
	
	#onepage .btn {
		border-color: #c5c5c5;
		border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	}
	
	#onepage .btn-primary {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #006dcc;
		*background-color: #0044cc;
		background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
		background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
		background-image: -o-linear-gradient(top, #0088cc, #0044cc);
		background-image: linear-gradient(to bottom, #0088cc, #0044cc);
		background-repeat: repeat-x;
		border-color: #0044cc #0044cc #002a80;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	
	#onepage .btn-primary:hover,
	#onepage .btn-primary:active,
	#onepage .btn-primary.active,
	#onepage .btn-primary.disabled,
	#onepage .btn-primary[disabled] {
		color: #ffffff;
		background-color: #0044cc;
		*background-color: #003bb3;
	}
	
	#onepage .btn-primary:active,
	#onepage .btn-primary.active {
		background-color: #003399 \9;
	}
	
	#onepage .step-actions .btn-nextstep,
	#onepage .btn-green {
		color: #fff;
		padding: 4px 18px;
		background-color: #5bcb64;
		*background-color: #5bcb64;
		background-image: -moz-linear-gradient(top, #5bcb64, #48b051);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bcb64), to(#48b051));
		background-image: -webkit-linear-gradient(top, #5bcb64, #48b051);
		background-image: -o-linear-gradient(top, #5bcb64, #48b051);
		background-image: linear-gradient(to bottom, #5bcb64, #48b051);
		background-repeat: repeat-x;
		border-top: none;
		text-shadow: 0 1px 2px rgba(0,0,0, 0.1);
	}
	#onepage .step-actions .btn-nextstep {
		float: right;
	}
	#onepage .step-actions .btn-nextstep:hover,
	#onepage .btn-green:hover {
		color: #fff;
		background-color: #48b051;
	}
	#onepage .step-actions .btn-prevstep {
		flaot: left;
		border-top: none;
	}
	#onepage .step-actions .btn {
		height: 36px;
		color: #fff;
		font-weight: 700;
		line-height: 36px;
		text-transform: uppercase;
		text-shadow: 0 1px 2px rgba(0,0,0, 0.1);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	     -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
						box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	}
	
	#onepage .step-actions p {
		float: left;
		width: 400px;
	}
	#onepage .btn.btn-complete {
			position: relative;
			padding-right: 45px;
	}
	#onepage .btn.btn-complete i {
		font-size: 18px;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	
	#onepage .btn-click.btn-activated i {
		-webkit-animation: scaleUp 0.5s;
		-moz-animation: scaleUp 0.5s;
		animation: scaleUp 0.5s;
	}
	
	@-webkit-keyframes scaleUp {
		80% {
			opacity: 0;
			-webkit-transform: scale(2);
		}
		100% {
			opacity: 0;
			-webkit-transform: scale(2);
		}
	}
	
	@-moz-keyframes scaleUp {
		80% {
			opacity: 0;
			-moz-transform: scale(2);
		}
		100% {
			opacity: 0;
			-moz-transform: scale(2);
		}
	}
	
	@keyframes scaleUp {
		80% {
			opacity: 0;
			transform: scale(2);
		}
		100% {
			opacity: 0;
			transform: scale(2);
		}
	}
	
	
	
/* ================================================================
			  		  			 --- ONE PAGE STYLES ---
  ================================================================= */
	
	
	#onepage #onepage-slider {
		width: 890px;
		margin-bottom: 60px; 
		background-color: #fff;
		overflow: hidden;
		-webkit-box-shadow: 0 1px 15px rgba(0,0,0, 0.15);
	     -moz-box-shadow: 0 1px 15px rgba(0,0,0, 0.15);
						box-shadow: 0 1px 15px rgba(0,0,0, 0.15);
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#onepage #onepage-slider .slider-labels .current {
		color: #328EFE;
		font-weight: 700;
	}
	
	#onepage #onepage-slider .slider-packages span {
		display: inline-block;
		height: 85px;
		width: 70px;
		background: url(../images/slider-packages.png) no-repeat 0 -74px;
		text-indent: -9999px;
	}
	
	#onepage #onepage-slider .slider-packages .current span {
		visibility: hidden;
		opacity: 0;
	}
	
	#onepage #onepage-slider .slider-packages .layerpackage {
		visibility: hidden;
		opacity: 0;
		left: 15px;
    margin: -11px 0 0 0;
		position: absolute;
    top: 25px;
	}
	
	#onepage #onepage-slider .slider-packages .current .layerpackage {
		visibility: visible;
		opacity: 1;
	}
	
	#onepage #onepage-slider .slider-packages .prev span {
		background-position: 0 18px;
	}
	
	/* ---- SLIDER ---- */
	
	#onepage #onepage-slider .slider {
			height: 18px;
			width: 728px;
			margin: 20px 0;
	}
	
	#onepage #onepage-slider .slider-content {
		padding: 30px 80px 40px;
	}
	
	#onepage #onepage-slider .slider-packages {
		position: relative;
		height: 90px;
	}
	
	#onepage #onepage-slider .slider-packages > div {
		min-height: 50px;
		width: 100px;
		margin-left: -50px;
		cursor: pointer;
		text-align: center;
		position: absolute;
	}
	
	#onepage #onepage-slider .slider-labels p {
		cursor: pointer;
		text-align: center;
	}
	
	#onepage #onepage-slider .slider .ui-slider-handle  {
		height: 18px;
		width: 30px;
		padding: 5px 8px;
		margin: -2px 0 0 -24px;
		background-color: #f5f7f7;
		*background-color: #f5f7f7;
		background-image: -moz-linear-gradient(top, #f5f7f7, #e3e5e5);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f7f7), to(#e3e5e5));
		background-image: -webkit-linear-gradient(top, #f5f7f7, #e3e5e5);
		background-image: -o-linear-gradient(top, #f5f7f7, #e3e5e5);
		background-image:  linear-gradient(to bottom, #f5f7f7, #e3e5e5);
		background-repeat: no-repeat;
		border: 1px solid;
		border-color: #f3f5f5 #e1e3e3 #c0c2c2;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
	     -moz-box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
						box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
			-webkit-border-radius: 4px;
				 -moz-border-radius: 4px;
							border-radius: 4px;
	}
	
	#onepage #onepage-slider .slider .ui-slider-handle.ui-state-hover,
	#onepage #onepage-slider .slider .ui-slider-handle.ui-state-active {
		color: #328EFE;
		text-decoration: none;
		background-position: 0 0;
	}
	
	#onepage #onepage-slider .slider .ui-slider-handle.ui-state-active {
		margin-top: -1px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	     -moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
						box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
	}
	
	/* ---- SLIDER FEATURES---- */
		
	#onepage #onepage-slider .slider-features > li {
		display: none;
	}
	
	#onepage #onepage-slider .slider-features > li.current {
		display: block;
	}
	
	#onepage #onepage-slider .slider-features li .slider-features-bar {
		height: 90px;
		width: 100%;
		border-top: 1px solid #ebebeb;
	}
	
	#onepage #onepage-slider .slider-features li .slider-features-bar li {
		float: left;
		width: 90px;
		height: 62px;
		padding: 14px 30px;
		color: #737d80;
		font-size: 22px;
		font-weight: 700;
		border-right: 1px solid #ebebeb;
	}
	
	#onepage #onepage-slider .slider-features li .slider-features-bar li span {
		display: block;
		margin: 0 0 10px 0;
		font-size: 14px;
		font-weight: 100;
		text-transform: uppercase;
	}
	#onepage #onepage-slider .slider-features li .slider-features-bar li.slider-price {
		width: 225px;
		color: #328EFE;
		font-size: 32px;
		border-right: none;
	}

/* ==========================================
		 			 		--- DOMAIN FORM ---
  ========================================== */

	#onepage .domain-form {
		position: relative;
	}
	
	#onepage .domain-form input[type=text] {
		height: 28px;
		width: 240px;
		padding: 8px 10px 8px 50px;
		font: 700 14px/18px  'Ubuntu', sans-serif ;
	}
	
	#onepage .domain-form input[type=text],
	#onepage .domain-form select {
			margin-right: 10px;
        }
        
        #onepage .domain-form input[type=text] + input[type=text] {
		width: 40px;
                padding: 8px 10px 8px 10px;
	}
        
	#onepage .domain-form select {
		height: 44px;
		min-width: 70px;
		padding: 12px 5px;
	}
	
	#onepage .domain-form .btn {
		height: 44px;
		margin-top: -10px;
	}
	
	#onepage .domain-form .btn i {
		margin: 0 5px 0 0;
	}
	
	#onepage .domain-form .www {
		color: #737d80;
		position: absolute;
		top: 14px;
		left: 15px;
		line-height: 18px;
	}
	#onepage .domain-form .www i {
		font-size: 16px;
		margin: 0 5px 0 0;
	}
	
	#onepage #add-domain-result {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
	
	#onepage #add-domain-result.on {
		height: auto;
		opacity: 1;
		visibility: visible;
	}
	
	#onepage #add-domain-result .alert {
		margin: 10px 0 0 0;
	}
        
  #onepage .alert {
		padding: 8px 35px 8px 14px;
		margin-bottom: 20px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		border: 1px solid #fbeed5;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#onepage .alert-success {
		color: #468847;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
	
	#onepage .alert-success h4 {
		color: #468847;
	}
	
	#onepage .alert-danger,
	#onepage .alert-error {
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
	}
	
	#onepage .alert-danger h4,
	#onepage .alert-error h4 {
		color: #b94a48;
	}
	
	#onepage .alert-info {
		color: #3a87ad;
		background-color: #d9edf7;
		border-color: #bce8f1;
	}
	
	#onepage .alert-info h4 {
		color: #3a87ad;
	}
	
	#onepage .alert-block {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	
	#onepage .alert-block > p,
	#onepage .alert-block > ul {
		margin-bottom: 0;
	}
	
	#onepage .alert-block p + p {
		margin-top: 5px;
	}
	
/* ==========================================
		 			 		--- LAYER BOX ---
  ========================================== */
	
	#onepage .layerpackage {
		position: relative;
		width: 80px;
		height: 80px;
	}
	#onepage .layerpackage-front-left,
	#onepage .layerpackage-front-right,
	#onepage .layerpackage-back,
	#onepage .layerpackage-bluebox {
		position: absolute;
		background: url(../images/layerpackage.png) no-repeat 0 0;
		top: 0;
		left: 0;
	}
	#onepage #onepage-slider .slider-packages > div.current .layerpackage .layerpackage-bluebox {
		top: -15px;
	}	
	#onepage .layerpackage-front-left {
		width: 38px;
		height: 50px;
		background-position: -19px 0;
		top: 12px;
		left: 3px;
		z-index: 3;
	}
	#onepage .layerpackage-front-right {
		width: 38px;
		height: 50px;
		background-position: -114px 0;
		left: 33px;
		top: 14px;
	}
	#onepage .layerpackage-back {
		width: 80px;
		height: 80px;
		background-position: -16px -78px;
		z-index: 0;
	}
	#onepage .layerpackage-bluebox {
		height: 58px;
		width: 50px;
		background-position: -114px -83px;
		left: 10px;
		top: 2px;
	}
       
       #onepage #currencychooser{
             float: right; 
                 background-color: #f5f8fa;
           padding: 5px;
           border-radius: 4px;
           border: 1px solid #e5e5e5;
       }
	
	
	