{**********************************************************************
*  Custom Order Page (2013-07-15)
* *
*
*  CREATED BY MODULESGARDEN       ->        http://modulesgarden.com
*  CONTACT                        ->       contact@modulesgarden.com
*
*
*
*
* This software is furnished under a license and may be used and copied
* only  in  accordance  with  the  terms  of such  license and with the
* inclusion of the above copyright notice.  This software  or any other
* copies thereof may not be provided or otherwise made available to any
* other person.  No title to and  ownership of the  software is  hereby
* transferred.
*
*
**********************************************************************}


{**
* @author Mariusz Miodowski <mariusz@modulesgarden.com>
*}


<ul>
    {foreach from=$productgroups item=group}
        <li><a href="cart.php?gid={$group.gid}">{$group.name}</a></li>
    {/foreach}
</ul>