<form method="post" action="clientarea.php?action=productdetails">
    <input type="hidden" name="id" value="{$id}" />
    <input type="submit" value="Go Back" />
</form>
<div style="padding: 5px 15px;">
<div>
    <h2>Add SmarterMail User</h2>
    <form method="post" action="clientarea.php?action=productdetails">
    <table cellpadding="5">
        <tr>
            <td style="text-align: right;">New Username</td>
            <td><input type="text" name="newusername" style="width: 200px;"/></td>
        </tr>
        <tr>
            <td style="text-align: right;">Password</td>
            <td><input type="text" name= "newpassword" style="width: 200px;" /></td>
        </tr>
        <tr>
            <td style="text-align: right;">First Name</td>
            <td><input type="text" name= "newfirstname" style="width: 200px;"/></td>
        </tr>
        <tr>
            <td style="text-align: right;">Last Name</td>
            <td><input type="text" name= "newlastname" style="width: 200px;"/></td>
        <tr>
            <td style="text-align: right;">Mailbox Size</td>
            <td><input type="text" name= "newmailboxsize" style="width: 100px;"/>&nbsp;(0=unlimited)</td>
        </tr>
        <tr>
            <td style="text-align: right;">Domain Admin</td>
            <td><input type="checkbox" name= "newdomaincheckbox" /></td>
        </tr>
        <tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td></td>
            <td>
                    <input type="hidden" name="id" value="{$id}" />
                    <input type="hidden" name="modop" value="custom" />
                    <input type="hidden" name="a" value="createsmartermailuser" />
                    <input type="submit" value="Create SmarterMail User" />
                </td>
        </tr>
    </table></form>
</div>
<br />
<br />
<br />
</div>