<form method="post" action="clientarea.php?action=productdetails">
    <input type="hidden" name="id" value="{$id}" />
    <input type="submit" value="Go Back" />
</form>
<div style="padding: 5px 15px;">
<div>
    <h2>Add SmarterMail Domain Alias</h2>
    <form method="post" action="clientarea.php?action=productdetails">
    <table cellpadding="5">
        <tr>
            <td>New User Alias Name</td>
            <td><input type="text" name= "newaliasname" style="width: 100%;" /></td>
        </tr>
        <tr>
            <td>Alias Email Addresses<br />
            <p style="font-size: 12px; float: right;">One address per line</p>
            </td>
            <td><textarea cols="36" rows="15" name="newaliasemailaddress" style="overflow: auto; resize: none; width: 100%"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                    <input type="hidden" name="id" value="{$id}" />
                    <input type="hidden" name="modop" value="custom" />
                    <input type="hidden" name="a" value="createsmartermailalias" />
                    <input type="submit" value="Create SmarterMail Alias" />
              </td>
        </tr>
    </table> </form>
</div>
<br />
<br />
<br />
