<form method="post" action="clientarea.php?action=productdetails">
    <input type="hidden" name="id" value="{$id}" />
    <input type="submit" value="Go Back" />
</form>
<div style="padding: 5px 15px;">
<div>
    <h2>Edit SmarterMail Domain Alias</h2>
    <form method="post" action="clientarea.php?action=productdetails">
    <table cellpadding="5">
        <tr>
            <td>User Alias Name</td>
            <td><input type="text" name= "aliasname" value="{php}echo $this->_tpl_vars['name'];{/php}" style="width: 100%;"/></td>
        </tr>
        <tr>
            <td>Alias Email Addresses<br />
                <p style="font-size: 12px; float: right;">One address per line</p>
            </td>
            <td><textarea cols="36" rows="15" name="aliasemailaddress" style="overflow: auto; resize: none; width:100% ;" >{php}
                        if(is_array($this->_tpl_vars["addresses"]))
                        {
                            foreach($this->_tpl_vars["addresses"] as $value){
                                echo $value;
                                echo "\n"; }}
                        else{
                            echo $this->_tpl_vars["addresses"];}{/php}</textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                    <input type="hidden" name="id" value="{$id}" />
                    <input type="hidden" name="modop" value="custom" />
                    <input type="hidden" name="a" value="savechangessmartermailalias" />
                    <input type="submit" value="Save Changes" />
                </form>

                <form method="post" action="clientarea.php?action=productdetails" style="float: right;">
                    <input type="hidden" name="aliasname" value="{php}echo $this->_tpl_vars['name'];{/php}" />
                    <input type="hidden" name="id" value="{$id}" />
                    <input type="hidden" name="modop" value="custom" />
                    <input type="hidden" name="a" value="deletesmartermailalias" />
                    <input type="submit" value="Delete Alias" />
                </form>
            </td>
        </tr>
    </table>
</div>
<br />
<br />
<div style="text-align: center">
    NOTE: Deleting an alias can't be reversed
</div>
<br />
<br />
</div>
