<h2>Links</h2>
<p style="margin-top: 20px;">{$lang.linkshint}</p>

{foreach from=$products item=product}
    <h3>{$product.name}</h3>
    <div style="margin-top: 5px;" class="well">
        <input type="text"  value="{$server}cart.php?a=add&pid={$product.id}{$product.link}" style="width: 500px;margin: 0;"/>
        <span style="margin: 2px 0 0 20px; padding: 5px 6px;"><a href="{$server}cart.php?a=add&pid={$product.id}{$product.link}" target="_blank" >{$product.name}</a></span>
    </div>
{/foreach}

<div>
    <a class="btn btn-info" href="addonmodules.php?module=serverswitcher&modpage=ssconfig">{$lang.back}</a>   
</div>