	#stepcart * {
		outline: none;
	}
  #stepcart div, #stepcart span, #stepcart applet, #stepcart object, #stepcart iframe, #stepcart 
  h1, #stepcart h2, #stepcart h3, #stepcart h4, #stepcart h5, #stepcart h6, #stepcart p, #stepcart blockquote, #stepcart pre, #stepcart 
  a, #stepcart abbr, #stepcart acronym, #stepcart address, #stepcart big, #stepcart cite, #stepcart code, #stepcart 
  del, #stepcart dfn, #stepcart em, #stepcart img, #stepcart ins, #stepcart kbd, #stepcart q, #stepcart s, #stepcart samp, #stepcart 
  small, #stepcart strike, #stepcart strong, #stepcart sub, #stepcart sup, #stepcart tt, #stepcart var, #stepcart 
  b, #stepcart u, #stepcart i, #stepcart center, #stepcart 
  dl, #stepcart dt, #stepcart dd, #stepcart ol, #stepcart ul, #stepcart li, #stepcart 
  fieldset, #stepcart form, #stepcart label, #stepcart legend, #stepcart 
  table, #stepcart caption, #stepcart tbody, #stepcart tfoot, #stepcart thead, #stepcart tr, #stepcart th, #stepcart td, #stepcart 
  article, #stepcart aside, #stepcart canvas, #stepcart details, #stepcart embed, #stepcart 
  figure, #stepcart figcaption, #stepcart footer, #stepcart header, #stepcart hgroup, #stepcart 
  menu, #stepcart nav, #stepcart output, #stepcart ruby, #stepcart section, #stepcart summary, #stepcart 
  time, #stepcart mark, #stepcart audio, #stepcart video {
	 // margin: 0;
	//  padding: 0;
	  border: 0;
	  font-size: 100%; 
	//  font: inherit;
	  text-shadow: none;
	//  position: static;
  }
  /* HTML5 display-role reset for older browsers */
  article, #stepcart aside, #stepcart details, #stepcart figcaption, #stepcart figure, #stepcart 
  footer, #stepcart header, #stepcart hgroup, #stepcart menu, #stepcart nav, #stepcart section {
	  display: block;
  }
  #stepcart ol, #stepcart ul {
	  list-style: none;
         //  padding-left: 0;
          
  }
  #stepcart ul {
	  margin-bottom: 0;
          
  }
   
  
  #stepcart blockquote, #stepcart q {
	  quotes: none;
  }
  #stepcart blockquote:before, #stepcart blockquote:after, #stepcart 
  q:before, #stepcart q:after {
	  content: '';
	  content: none;
  }
  #stepcart table {
	  border-collapse: collapse;
	  border-spacing: 0;
  }
  #stepcart b {
	  font-weight: bold;
  }
  #stepcart input,
  #stepcart select,
  #stepcart .radio,
  #stepcart .checkbox {
	  width: auto;	
	  height: auta;
	  min-height: auto;
	  min-width: auto;
	  max-width: auto;
	  max-height: auto;
  }
	

/* ==========================================
						--- GENERAL STYLES ---
  ========================================== */
 	
	
	#stepcart {
                
                background: url(../images/onestep-bg.jpg) no-repeat top right;
            color: #595964;
            font: 13px/18px "Ubuntu",sans-serif normal;
            margin: 0 15px 0 -15px;
            padding: 0 30px;
            position: relative;
	}
	
	#stepcart .cartsummary-row:after,
	#stepcart .step-tabs:after,
	#stepcontent:after,
	#stepcart .clearfix,
	#stepcart .slider-labels:after,
	#stepcart .widget:after,
	#stepcart .widget-row:after {
		display: block;
		content: "";
		clear: both;
	}
	
	#stepcart .affix {
	 	position: fixed;
		top: 20px;
		width: 240px;
	}
	
	#stepcart .affix-bottom {
	 	bottom: 136px;
		top: auto;
		position: absolute;
	}
	
	#stepcart .row {
               margin-left: 0;
         }
	
	#stepcart .span-half {
		float: left;
		width: 260px;
		margin-left: 20px;
	}
	
	#stepcart .pull-right {
			float: right;
	}
	
	#stepcart .pull-left {
			float: left;
	}	
	
	#stepcart #promocode ::-webkit-input-placeholder { 
			color: rgba(255,255,255, 0.8);
	}
	#stepcart #promocode  :-moz-placeholder { 
			color: rgba(255,255,255, 0.8);
	}
	#stepcart #promocode ::-moz-placeholder {
			color: rgba(255,255,255, 0.8);
	}
	#stepcart #promocode :-ms-input-placeholder {
			color:  rgba(255,255,255, 0.8);
	}
	
	#stepcart .nomargin {
		margin-left: 0!important;
	}


/* ==========================================
		 			 --- TYPOGRAPHY STYLES ---
  ========================================== */

  #stepcart h2 b {
		color: #328EFE;
		font-weight: 700; 
  }
  #stepcart h1 {
	  margin: 0 0 10px 0;
	  font-size: 32px;
	  font-weight: 100;	
  }
	
  #stepcart h2 {
	  margin: 0 0 30px 0;
	  font-size: 28px;
	  font-weight: 100;	
		text-align: center;
		line-height: 32px;
		letter-spacing: 0;
  }
	
	#stepcart h3 {
		margin-bottom: 30px;
                margin-top: 0px;
		color: #328EFE;
		font-size: 22px;
		font-weight: 100;
	}
	
	#stepcart h4 {
		margin-bottom: 20px;
                 margin-top: 0px;
		font-size: 16px;
		font-weight: 700;
	}
	
	#stepcart .font-blue,
	#stepcart a:hover {
		color: #328EFE;
	}
	
	#stepcart .font-green {
		color: #4dbd56;
	}
	
	#stepcart a:hover  {
		text-decoration: none;
	}


/* ==========================================
			  			--- STEPTITLE ---
  ========================================== */
  
	
  #stepcart #steptitle {
	  width: 80%;
	  margin: 0 auto;
	  text-align: center;
  }
	
  #stepcart #steptitle p {
	  margin: 0 0 30px 0;
	  font-size: 16px;
	  line-height: 24px;
  }
  
  
/* ==========================================
			  			 --- STEPBAR ---
  ========================================== */
  
	
  #stepcart #stepbar {
	  min-height: 70px;
		overflow: hidden;
	  -webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		    	  border-radius: 4px;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
			      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  }
	#stepcart #stepbar.affix {
	 		min-height: 70px;
			width: 882px;
	 		height: 70px;
			position: fixed;
			top: 0;
			z-index: 9999;
			-webkit-border-radius: 0;
			   -moz-border-radius: 0;
				   	border-radius: 0;
	}
	
  #stepcart #stepbar {
	  background-color: #586366;
	  *background-color: #586366;
	  background-image: -moz-linear-gradient(top, #586366, #505b5e);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#586366), to(#505b5e));
	  background-image: -webkit-linear-gradient(top, #586366, #505b5e);
	  background-image: -o-linear-gradient(top, #586366, #505b5e);
	  background-image: linear-gradient(to bottom, #586366, #505b5e);
	  background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#586366', endColorstr='#505b5e');/*For IE7-8-9*/ 
  }
	
  #stepcart #stepbar ul li {
	  float: left;
		background: url(../images/stepbar-separator.png) no-repeat right;
  }
	
	#stepcart #stepbar .steps5 li {
		width: 20%;
	}

	#stepcart #stepbar .steps li,
	#stepcart #stepbar .steps4 li {
		width: 25%;
	}
	
	#stepcart #stepbar .steps3 li {
		width: 33.33%;
	}
	
	#stepcart #stepbar .steps2 li {
		width: 50%;
	}
	
        #stepcart #stepbar .steps1 li {
		width: 100%;
	}
        
	#stepcart #stepbar ul li:last-child {
		background: none!important;
	}
	
	#stepcart #stepbar ul li:last-child a {
		margin-right: 0!important;
	}
	
  #stepcart #stepbar ul li a {
	  display: block;
		//height: 30px;
		padding: 20px 20px 20px 70px;
		color: rgba(255,255,255, 0.6);
		//line-height: 1;  
		position: relative;
  }
	
	#stepcart #stepbar ul li:first-child a {
	  -webkit-border-radius: 4px 0 0 4px;
		 -moz-border-radius: 4px 0 0 4px;
			  border-radius: 4px 0 0 4px;
	}
	
	#stepcart #stepbar ul li:last-child a {
	  -webkit-border-radius: 0 4px 4px 0;
		 -moz-border-radius: 0 4px 4px 0;
			  border-radius: 0 4px 4px 0;
	}
  #stepcart #stepbar ul li a:hover {
		text-decoration: none;
	}
	
  #stepcart #stepbar ul li a span {
		display: block;
		color: #fff;
	  font-size: 16px;
	  font-weight: 700;
		text-transform: uppercase;
  }
	
	#stepcart #stepbar ul li a em {
		display: block;
		height: 30px;
		width: 30px;
		background-color: #c2c8ca;
		color: #535e61;
		font-size: 16px;
		font-weight: 700;
		line-height: 30px;
		text-align: center;
		position: absolute;
		top: 20px;
		left: 20px;
	  -webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
			  border-radius: 3px;
	}
	
	#stepcart #stepbar ul li a em i {
		line-height: 30px !important;
	}

	/* --- CURRENT STEP --- */
	
	#stepcart #stepbar ul li a em.step-icon,
	#stepcart #stepbar ul li.step-done a em.step-number  {
		display: none;
	}
	
	#stepcart #stepbar ul li.step-current {
		background: url(../images/stepbar-active-right.png) no-repeat right;
	}
	
	#stepcart #stepbar ul li.step-current a,
	#stepcart #stepbar ul li.step-done a,
	#stepcart .cartsummary-total,
	#stepcart .step-tabs li.active a,
	#stepcart .step-tabs li a:hover,
	#stepcart .step-tabs li.active label,
	#stepcart .step-tabs li label:hover,
	#stepcart .step-actions .btn.btn-prevstep,
	#stepcart .btn.btn-blue  {
		margin-right: 20px;
	  background-color: #2581f1;
	  *background-color: #2581f1;
	  background-image: -moz-linear-gradient(top, #338fff, #2581f1);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#338fff), to(#2581f1));
	  background-image: -webkit-linear-gradient(top, #338fff, #2581f1);
	  background-image: -o-linear-gradient(top, #338fff, #2581f1);
	  background-image: linear-gradient(to bottom, #338fff, #2581f1);
	  background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#338fff', endColorstr='#2581f1'); 
            
	}
        #stepcart #stepbar ul li.step-current a,
        #stepcart #stepbar ul li.step-done a{
            height: 76px;
        }
        
	#stepcart #stepbar ul li.step-done a {
	  background-image: url(../images/stepbar-separator.png), linear-gradient(to bottom, #338fff, #2581f1) ;
		background-position: top right, 0 0;
		background-repeat: no-repeat, repeat-x;
	}
	
	#stepcart #stepbar ul li.step-done a {
		margin-right: 0;
	}
	
	#stepcart #stepbar ul li.step-current a em,
	#stepcart #stepbar ul li.step-done a em {
		background-color: #fff;
		color: #338fff;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
			 -moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
						box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
	}
	
	#stepcart #stepbar ul li.step-done a em.step-icon {
		display: block;
	}
	
	#stepcart #stepbar ul li:not(.step-current):not(.step-done) a:hover em {
			background-color: #338fff;
			color: #fff;
	}
	
	
/* ==========================================
			  		 --- STEP CONTENT ---
  ========================================== */
	
	
	#stepcart #stepcontent {
			padding-top: 50px;
			position: relative;
	}
	
	#stepcart #stepcontent .step-main {
		float: left;
		width: 73%;
		margin-right: 30px;
	}
	
	#stepcart #stepcontent .step-sidebar {
		float: left;
		width: 260px;
	}
	
/* ==========================================
			  	 --- PRODUCT BLOCK ---
  ========================================== */
	
	#stepcart .product-block {
		padding: 20px;
		-webkit-box-sizing: borer-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#stepcart .product-block:hover {
		border-color: #328efe;
	}
	
	#stepcart .pb-body {
		margin-left: 0;
	}
	
	#stepcart .pb-body ul {
		margin-bottom: 10px;
                padding-left: 0;
	}
	
	#stepcart .pb-right .pb-cycle {
		margin-bottom: 20px;
		display: block;
	}
	
	#stepcart .pb-right .pb-price {
		margin-bottom: 5px;
		color: #328efe;
		font-size: 28px;
		font-weight: 500;
	}
	
	#stepcart .pb-right .pb-right-body {
		min-height: 80px;
	}
	
	#stepcart .pb-right .pb-price small {
		display: inline-block;
		font-size: 14px;
	}
	
	
/* ==========================================
			  		   --- WIDGET ---
  ========================================== */
	

	#stepcart .widget {
                margin-right: 1px;
		margin-bottom: 21px;
		background-color: #fff;
		border: 1px solid #e6e9eb;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
						box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
	  -webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
			      border-radius: 4px;
	}
        #stepcart .product-block {
                width: 48% !important;
                margin-right: 21px;
		margin-bottom: 21px;
		background-color: #fff;
		border: 1px solid #e6e9eb;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
						box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
	  -webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
			      border-radius: 4px;
	}
	
	#stepcart .widget-row {
		padding: 20px 30px;
		border-bottom: 1px solid #ebebeb;
	}

	#stepcart .widget-row > :last-child {
		margin: 0!important;
	}
	
	#stepcart .widget-subrow {
		margin-bottom: 30px;
	}
	
	#stepcart .widget-subrow:last-child {
		margin: 0;
	}
	
	#stepcart .widget .widget-row:last-child {
		border-bottom: none;
	}


/* ==========================================
			  	--- STEP CARTSUMMARY ---
  ========================================== */
	
	
	#stepcart .step-cartsummary {
		width: 260px;
		margin-bottom: 40px;
		background-color: #fff;
		border: 1px solid #328efe;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0, 0.1);
		   -moz-box-shadow: 0 1px 5px rgba(0,0,0, 0.1);
						box-shadow: 0 1px 5px rgba(0,0,0, 0.1);
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#stepcart .cartsummary-title {
		border-bottom: 1px solid #ededed;
		text-align: center;
	}
	
	#stepcart .cartsummary-title h3 {
		margin: 0;
		line-height: 50px;
	}
	
	#stepcart .cartsummary-row h5 {
		margin: 0 0 10px 0;
		padding-right: 20px;
		color: #328EFE;
		font-size: 14px;
		font-weight: 700;
		position: relative;
	}
	#stepcart .cartsummary-row h5 a {
		color: #d9dbdb;
		position: absolute;
		right: 0;
		top: 2px;
	}
	#stepcart .cartsummary-row h5 a:hover {
		color: #e74c3c;
		text-decoration: none;
	}
	
	/* --- CART FEATURES LIST --- */
	
	#stepcart .cartsummary-row .cart-features {
			margin-bottom: 10px;
	}
	
	#stepcart .cartsummary-row .cart-features li {
			font-weight: 700;
			line-height: 24px;
	}
	#stepcart .cartsummary-row .cart-features li span {
			display: inline-block;
			width: 140px;
			font-weight: 100;
	}
	
	#stepcart .cartsummary-row {
		padding: 10px 20px;
		border-bottom: 1px solid #ededed;
	}
	#stepcart .template-logo {
		text-align: center;
	}
	
	#stepcart .cartsummary-row .cartsummary-product {
		float: left;
		width: 60%;
		font-weight: 700;
	}
	
	#stepcart .cartsummary-row .cartsummary-product span {
		display: block;
		font-weight: 100;
	}
	
	#stepcart .cartsummary-row .cartsummary-price {
		float: left;
		width: 40%;
		color: #328efe;
		font-weight: 700;
		text-align: right;
	}
	#stepcart .cartsummary-row .prod-price {
		color: #4DBD56;
		font-weight: 700;
	}
	
	/* --- CART SUMMARY TOTAL PRICE --- */
	
		#stepcart .cartsummary-subtotal ul li {
		line-height: 24px;
	}	
	
	/* --- CART SUMMARY TOTAL PRICE --- */
	
	#stepcart .cartsummary-total {
		width: 100%;
		padding: 20px;
		-webkit-border-radius: 0 0 4px 4px;
			 -moz-border-radius: 0 0 4px 4px;
						border-radius: 0 0 4px 4px;
	}
	
	#stepcart .cartsummary-total > span {
		color: #fff;
		font-size: 32px;
		font-weight: 700;
		lin-height: 32px;
		text-shadow: 0 1px 1px rgba(0,0,0, 0.1);
	}
	
	#stepcart .cartsummary-total p {
		margin: 0 0 20px 0;
		font-size: 16px;
		font-weight: 100;
	}
	
	#stepcart .cartsummary-total small {
		font-size: 22px;
		font-weight: 100;
	}
	
	#stepcart .cartsummary-total #promocode {
			padding: 20px 0 0 0;
			position: relative;
			color: #fff;
	}
	
	#stepcart .cartsummary-total #promocode a {
		margin-top: 5px;
		color: #fff;
	}
	
	#stepcart .cartsummary-total #promocode a:hover {
		text-decoration: underline;
	}
	
	#stepcart .cartsummary-total #promocode input[type=text] {
		height: 38px;
		width: 220px;
		margin: 0;
		padding: 0 50px 0 10px;
		background-color: #2972cc;
		border: none;
		color: #fff;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1) inset;
		   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1) inset;
			      box-shadow: 0 1px 4px rgba(0,0,0,0.1) inset;
	}
	
	#stepcart .cartsummary-total #promocode .btn {
		height: 30px;
		width: 35px;
		margin: 2px;
		background: #338fff;
		color: #fff;
		border: none;
		position: absolute;
		top: 22px;
		right: 2px;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
		   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
			      box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	}
	
	#stepcart .cartsummary-total #promocode .btn i {
		position: absolute;
		top: 7px;
		left: 13px;
	}
	
	#stepcart .cartsummary-total #promocode .btn:hover {
		background-color: #4c9dff;
	}
	
	#stepcart .cartsummary-total .btn-clearcart {
			width: 220px;
			margin: 20px 0 0 0;
			border: none;
	}
	

/* ==========================================
			  		 --- ACCORDION ---
  ========================================== */


	#stepcart .accordion {
		margin-bottom: 20px;
	}
	
	#stepcart #prodgroup {
		margin-bottom: 90px;
	}
	
	#stepcart .accordion-group {
		margin-bottom: 10px;
	  background-color: #f5f8fa;
	  *background-color: #f5f8fa;
	  background-image: -moz-linear-gradient(top, #f5f8fa, #edf0f2);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f8fa), to(#edf0f2));
	  background-image: -webkit-linear-gradient(top, #f5f8fa, #edf0f2);
	  background-image: -o-linear-gradient(top, #f5f8fa, #edf0f2);
	  background-image: linear-gradient(to bottom, #f5f8fa, #edf0f2);
	  background-repeat: repeat-x;
		overflow: hidden;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#stepcart .accordion-heading .accordion-toggle {
		display: block;
		height: 35px;
		padding: 5px 15px;
		line-height: 35px;
	}
	
	#stepcart .accordion-toggle {
		cursor: pointer;
	}
	
	#stepcart .accordion-inner {
		padding: 9px 15px;
		background-color: #f5f8fa;
	}
	
	#stepcart .fade {
		opacity: 0;
		-webkit-transition: opacity 0.15s linear;
			 -moz-transition: opacity 0.15s linear;
				 -o-transition: opacity 0.15s linear;
						transition: opacity 0.15s linear;
	}
	
	#stepcart .fade.in {
		opacity: 1;
	}
	
	#stepcart .collapse {
		position: relative;
		height: 0;
		overflow: visible;
		-webkit-transition: height 0.35s ease;
			 -moz-transition: height 0.35s ease;
				 -o-transition: height 0.35s ease;
						transition: height 0.35s ease;
	}
	#stepcart .accordion .collapse {
		overflow: hidden;
	}
	
	#stepcart .collapse.in {
		height: auto;
	}
	
	/* --- TEMPLATES --- */
	
	#stepcart .accordion-inner {
		padding: 0;
	}
	
	#stepcart .template-row {
		height: 40px;
		padding: 2px 20px;
		border-bottom: 1px solid #ebeef0;
		color: #737d80;		
		line-height: 40px;
	}
	
	#stepcart .template-row label {
		/*color: #737d80;		*/
		line-height: 40px;
	}
	
	
	#stepcart .accordion-inner .template-row:last-child {
		border: none;	
	}
	
	#stepcart .template-row:hover,
	#stepcart .template-row.checked-row {
		background-color: #d6e6fb; 
		color: #328efe;
		border-bottom: 1px solid #d0e0f5;
	}
		
  #stepcart .template-row input[type=checkbox],
	#stepcart .template-row input[type=radio] {
		margin: -3px 10px 0 0;
	}
	
	#stepcart .template-row .template-name {
		display: inline-block;
		width: 400px;
	}
		
	#stepcart .template-row .template-price {
	  font-weight: 700;
		float: right;
	}
	
	#stepcart .accordion-btn { 
		float: right;
		color: #c4cacc;
		font-size: 12px;
		text-transform: uppercase;
	}
	#stepcart .accordion-toggle:hover .accordion-btn,
	#stepcart .accordion-toggle:hover,
	#stepcart .accordion-toggle b {
		color: #328efe;
		text-decoration: none;
	}
	#stepcart .accordion-btn,
	#stepcart .accordion-toggle,
	#stepcart .template-row,
	#stepcart .cartsummary-total #promocode .btn,
	#stepcart #stepcart-slider .slider-features li { 
		-webkit-transition: linear color 0.15s, linear background-color 0.15s;
		   -moz-transition: linear color 0.15s, linear background-color 0.15s;
				    transition: linear color 0.15s, linear background-color 0.15s;
	}
	#stepcart > .widget,
	#stepcart #stepcart-slider .slider-labels li,
	#stepcart .layerpackage-bluebox,
	#stepcart .cartsummary-row h5 a,
	#stepcart .step-tabs li,
	#stepcart .step-tabs li.active a i,
	#stepcart .step-tabs li.active label i,
	#stepcart .product-block,
	#stepcart #stepbar ul li a em {
		-webkit-transition: all linear 0.15s;
		   -moz-transition: all linear 0.15s;
				    transition: all linear 0.15s;
	}
	#stepcart .accordion-toggle {
		color: #494c4c;
		border-botom: 1px solid #f5f8fa;
	}
	#stepcart .accordion-toggle.current {
		font-weight: 700;
		color: #328efe;
	}
	#stepcart .accordion-toggle.current .accordion-btn {
		color: #494c4c;
		font-weight: normal;
	}
	
	
/* ==========================================
			  		   --- FORMS ---
  ========================================== */
	
	
	#stepcart .form-horizontal input,
	#stepcart .form-horizontal textarea,
	#stepcart .form-horizontal select,
	#stepcart .form-horizontal .help-inline,
	#stepcart .form-horizontal .uneditable-input,
	#stepcart .form-horizontal .input-prepend,
	#stepcart .form-horizontal .input-append {
		display: inline-block;
		*display: inline;
		margin-bottom: 0;
		vertical-align: middle;
		*zoom: 1;
	}
	
	#stepcart .form-horizontal .hide {
		display: none;
	}
	
	#stepcart .form-search .radio,
	#stepcart .form-search .checkbox,
	#stepcart .form-inline .radio,
	#stepcart .form-inline .checkbox {
		padding-left: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
		
	#stepcart .control-group {
		margin-bottom: 10px;
	}
		
	#stepcart .form-horizontal .control-group {
		margin-bottom: 20px;
		*zoom: 1;
	}
	
	#stepcart .form-horizontal .control-group:before,
	#stepcart .form-horizontal .control-group:after {
		display: table;
		line-height: 0;
		content: "";
	}
	
	#stepcart .form-horizontal .control-group:after {
		clear: both;
	}
	
	#stepcart .form-horizontal .control-label {
		float: left;
		width: 160px;
		padding-top: 5px;
		text-align: right;
		margin-bottom: 0;
	}
	
	#stepcart .control-label {
		margin-bottom: 5px;
	}
	
	#stepcart .form-horizontal .controls {
		*display: inline-block;
		*padding-left: 20px;
		margin-left: 180px;
		*margin-left: 0;
	}
	
	#stepcart .form-horizontal .controls:first-child {
		*padding-left: 180px;
	}
	
	#stepcart .form-horizontal .help-block {
		margin-bottom: 0;
	}
	
	#stepcart .form-horizontal input + .help-block,
	#stepcart .form-horizontal select + .help-block,
	#stepcart .form-horizontal textarea + .help-block,
	#stepcart .form-horizontal .uneditable-input + .help-block,
	#stepcart .form-horizontal .input-prepend + .help-block,
	#stepcart .form-horizontal .input-append + .help-block {
		margin-top: 10px;
	}
	
	#stepcart .form-horizontal .form-actions {
		padding-left: 180px;
	}


	/* --- CONTROLS --- */
	
	#stepcart .control-group .control-label {
		color: #666;
		text-align: left;
	}
	
	#stepcart .control-group .controls input[type=text],
	#stepcart .control-group .controls input[type=password],
	#stepcart .control-group .controls textarea {
		width: 250px;
	}
	
	#stepcart .input-small {
		width: 80px!important;
	}
	
	#stepcart select.input-small {
		width: 100px!important;
	}
	
	#stepcart .control-group .controls select {
		width: 272px;
		height: 38px;
	}
	
	#stepcart input[type=text],
	#stepcart input[type=password],
	#stepcart select,
	#stepcart textarea {
		//height: 20px;
		//padding: 8px 10px;
		border: 1px solid #e0e0e0;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05) inset;
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.05) inset;
			      box-shadow: 0 1px 3px rgba(0,0,0,0.05) inset;
	}
	
	#stepcart select {
		height: 40px;
	}
	
	#stepcart input[type=text]:hover,
	#stepcart input[type=password]:hover,
	#stepcart input[type=text]:focus,
	#stepcart input[type=password]:focus,
	#stepcart select:hover,
	#stepcart select:focus,
	#stepcart textarea:hover,
	#stepcart textarea:focus {
		border-color: #338fff;
		color: #338fff;
	}
	
	/* --- CONTROL ERROR --- */
	
	#stepcart .control-group.error input[type=text],
	#stepcart .control-group.error select,
	#stepcart .control-group.error input[type=password] {
		border-color: #f7988d;
	}
	
	#stepcart .control-group.error .control-label ,
	#stepcart .control-group.error .help,
	#stepcart .control-group.error input[type=text],
	#stepcart .control-group.error input[type=password] {
		color: #e74c3c;
	}
	
	/* --- CHECKBOX & RADIO --- */
	
	#stepcart input[type="radio"], 
	#stepcart input[type="checkbox"] {
		margin: 0
	}
	
	#stepcart label input[type=checkbox] {
			margin: -2px 10px 0 0;
	}
	
	/* --- FORMS HALF --- */
	
	#stepcart .span-half .controls input[type=text],
	#stepcart .span-half .controls input[type=password] {
		width: 240px;
	}
	
	#stepcart .span-half .controls select {
			width: 260px;
	}
	
	#stepcart .textarea-full {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		-webkit-box-sizing: borer-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}	
	
	/* --- CONTROLS HELP --- */
	
	#stepcart .control-group .help {
		color: #666;
		font-size: 12px;
	}
	
	#stepcart #ccinputform {
		padding-top: 30px;
	}
	
	
/* ==========================================
			  		   --- TABLE ---
  ========================================== */
	
	
	#stepcart .table thead tr th {
		border-bottom: 1px solid #E6E9EB;
	}
	#stepcart .table tbody tr td {
		border-bottom: 1px solid #E6E9EB;
		vertical-align: middle;
	}
	#stepcart .table tbody tr td select,
	#stepcart .table tbody tr td input {
		margin: 0;
	}
	#stepcart .table tbody tr td select {
		padding: 5px;
	}
	#stepcart .table tbody tr td label input[type=checkbox],
	#stepcart .table tbody tr td label input[type=radio]  {
		margin: 0 10px 0 0;
	}
	
	#stepcart .table tbody tr.domain-unavailable td,
	#stepcart .table tbody tr.domain-unavailable td label {
		color: #999;
	}
	
	
/* ==========================================
			  		   --- SLIDERS ---
  ========================================== */
	
	
	#stepcart .slider {
		display: inline-block;
		height: 12px;
		width: 86%;
		margin: 12px 10px 12px 10px;
		position: relative;
		background-color: #d7dadb;
	}
	
	#stepcart .slider .ui-slider-handle {
		display: block;
		width: 35px;
		height: 30px;
		background: url(../images/slider-handle.png) no-repeat;
		margin: -8px 0 0 -15px;
		position: absolute;
		cursor: pointer;
		outline: none;
	}
	
	#stepcart .slider .ui-slider-handle.ui-state-active {
		background-position: 0 -46px;	
	}
	
	#stepcart .slider .ui-slider-range,
	#stepcart .slider  {
		-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
			 -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
		      	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
		-webkit-border-radius: 10px;
			 -moz-border-radius: 10px;
						border-radius: 10px;
	}
	
	#stepcart .slider.slider-gradient .ui-slider-range {
	  background-color: #328efd;
	  *background-color: #328efd;
	  background-image: -moz-linear-gradient(left, #328efd, #5bca66);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#328efd), to(#5bca66));
	  background-image: -webkit-linear-gradient(left, #328efd, #5bca66);
	  background-image: -o-linear-gradient(left, #328efd, #5bca66);
	  background-image: linear-gradient(to right, #328efd, #5bca66);
	  background-repeat: repeat-x;
	}
	
	#stepcart .slider .ui-slider-range {
		background-color: #338fff;
	}
	
	#stepcart .control-group  .amount {
		float: right;
		display: inline-block;
		position: relative;
	}
	
	#stepcart .control-group  .amount span {
		display: inline-block;
		width: 10px;
	}
	
	#stepcart .control-group .amount input[type=text] {
		height: 36px;
		width: 40px;
		padding: 0 5px;
		background-color: #f0f3f5;
		border: none;
		font: 700 14px/18px 'Ubuntu', sans-serif  ;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
	}
	
	#stepcart .control-group .amount:after {
		float: left;
		display: block;
		margin: 12px 0 0 0;
		content: "";
	  border-top: 7px solid #fff;
		border-bottom: 7px solid #fff;
		border-right: 5px solid #ebeef0;	
		position: absolute;
		top: 0;
		left: -5px;
	}
	
	
/* ==========================================
			  		   --- TABS ---
  ========================================== */
	
	#stepcart .step-tabs {
		display: block;
		width: 100%;
	}
	
	#stepcart .step-tabs li {
		float: left;
		margin-right: 10px;
	}
	
	#stepcart .step-tabs li a,
	#stepcart .step-tabs li label {
		display: block;
		height: 28px;
		padding: 0 10px 0 25px;
		background-color: #d9dbdb;
		color: #586366;
		line-height: 26px;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1) inset;
			 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1) inset;
		      	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1) inset;						
	}
	
	#stepcart .step-tabs li input[type=radio] {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: -10px;
	} 
	
	#stepcart .step-tabs li.active a,
	#stepcart .step-tabs li a:hover,
	#stepcart .step-tabs li.active label,
	#stepcart .step-tabs li label:hover {
		margin-right: 0;
		color: #fff;
		text-decoration: none;
	}
	
	#stepcart .step-tabs li a i,
	#stepcart .step-tabs li label i {
		position: absolute;
		left: -15px;
		top: 6px;
	}
	
	#stepcart .step-tabs li.active a i,
	#stepcart .step-tabs li.active a:hover i,
	#stepcart .step-tabs li.active label i,
	#stepcart .step-tabs li.active label:hover i {
		display: inline-block;
		left: 5px;
		top: 6px;
	}	
	
	#stepcart .tab-content {
			display: block;
			padding-top: 30px;
	}
	
	
/* ==========================================
		 			 			--- BUTTONS ---
  ========================================== */
	
	
	#stepcart .btn {
		display: inline-block;
		*display: inline;
		padding: 5px 12px;
		margin-bottom: 0;
		*margin-left: .3em;
		font-size: 14px;
		line-height: 20px;
		color: #333333;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-color: #e6e6e6;
		*background-color: #e6e6e6;
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #bbbbbb;
		*border: 0;
		text-shadow: none;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		border-bottom-color: #a2a2a2;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
						border-radius: 4px;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		*zoom: 1;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
						box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	
	#stepcart .btn:active,
	#stepcart .btn.active {
		background-color: #cccccc \9;
	}
	
	#stepcart .btn.btn-large {
		padding: 8px 30px;
		font-size: 14px;
	}
	#stepcart .btn.btn-large .icon {
		margin: 0 0 0 5px;
	}
	
	#stepcart .btn:first-child {
		*margin-left: 0;
	}
	
	#stepcart .btn:hover {
		text-decoration: none;
		background-position: 0 -15px;
		-webkit-transition: background-position 0.1s linear;
			 -moz-transition: background-position 0.1s linear;
				 -o-transition: background-position 0.1s linear;
						transition: background-position 0.1s linear;
	}
	
	#stepcart .btn:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	
	#stepcart .btn.active,
	#stepcart .btn:active,
	#stepcart .step-actions .btn:active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
						box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	
	#stepcart .btn.disabled,
	#stepcart .btn[disabled] {
		cursor: default;
		background-image: none;
		opacity: 0.65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
			 -moz-box-shadow: none;
						box-shadow: none;
	}
		
	.btn-large [class^="icon-"],
	.btn-large [class*=" icon-"] {
		margin-top: 4px;
	}
	
	#stepcart .btn-small {
		padding: 2px 10px;
		font-size: 11.9px;
		-webkit-border-radius: 3px;
			 -moz-border-radius: 3px;
						border-radius: 3px;
	}
	
	#stepcart .btn-small [class^="icon-"],
	#stepcart .btn-small [class*=" icon-"] {
		margin-top: 0;
	}
	
	.btn-mini [class^="icon-"],
	.btn-mini [class*=" icon-"] {
		margin-top: -1px;
	}
	
	#stepcart .btn-mini {
		padding: 0 6px;
		font-size: 10.5px;
		-webkit-border-radius: 3px;
			 -moz-border-radius: 3px;
						border-radius: 3px;
	}
	
	#stepcart .btn-block {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box;
	}
	
	#stepcart .btn-block + .btn-block {
		margin-top: 5px;
	}
	
	
	#stepcart .btn-primary.active,
	#stepcart .btn-warning.active,
	#stepcart .btn-danger.active,
	#stepcart .btn-success.active,
	#stepcart .btn-info.active,
	#stepcart .btn-inverse.active {
		color: rgba(255, 255, 255, 0.75);
	}
	
	#stepcart .btn {
		border-color: #c5c5c5;
		border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
		border-top: none;
	}
	
	#stepcart .btn-blue,
	#stepcart .btn-blue:hover {
		color: #ffffff;
	}

	#stepcart .btn-primary:active,
	#stepcart .btn-primary.active {
		background-color: #003399 \9;
	}
	
	#stepcart .step-actions .btn-nextstep,
	#stepcart .btn-green {
		color: #fff;
		padding: 4px 18px;
		background-color: #5bcb64;
		*background-color: #5bcb64;
		background-image: -moz-linear-gradient(top, #5bcb64, #48b051);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bcb64), to(#48b051));
		background-image: -webkit-linear-gradient(top, #5bcb64, #48b051);
		background-image: -o-linear-gradient(top, #5bcb64, #48b051);
		background-image: linear-gradient(to bottom, #5bcb64, #48b051);
		background-repeat: repeat-x;
		border-top: none;
		text-shadow: 0 1px 2px rgba(0,0,0, 0.1);
	}
	#stepcart .step-actions .widget-row {
		padding: 20px 30px;
	}
	#stepcart .step-actions .btn-nextstep {
		float: right;
	}
	#stepcart .step-actions .btn-nextstep .icon {
		margin: 0 0 0 10px;
	}
	#stepcart .step-actions .btn-prevstep .icon {
		margin: 0 10px 0 0;
	}
	#stepcart .step-actions .btn-nextstep:hover,
	#stepcart .btn-green:hover {
		color: #fff;
		background-color: #48b051;
	}
	#stepcart .step-actions .btn-prevstep {
		flaot: left;
		border-top: none;
	}
	#stepcart .step-actions .btn {
		color: #fff;
		font-weight: 700;
		line-height: 36px;
		text-transform: uppercase;
		text-shadow: 0 1px 2px rgba(0,0,0, 0.1);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	     -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
						box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	}
	
	#stepcart .step-actions p {
		float: left;
		width: 400px;
	}
	
	#stepcart .btn.btn-complete {
			position: relative;
			padding-right: 40px;
	}
	#stepcart .btn.btn-complete i {
		font-size: 16px;
		position: absolute;
		top: 13px;
		right: 14px;
	}
	
	#stepcart .btn-click.btn-activated i {
		-webkit-animation: scaleUp 0.5s;
		-moz-animation: scaleUp 0.5s;
		animation: scaleUp 0.5s;
	}
	
	@-webkit-keyframes scaleUp {
		80% {
			opacity: 0;
			-webkit-transform: scale(2);
		}
		100% {
			opacity: 0;
			-webkit-transform: scale(2);
		}
	}
	
	@-moz-keyframes scaleUp {
		80% {
			opacity: 0;
			-moz-transform: scale(2);
		}
		100% {
			opacity: 0;
			-moz-transform: scale(2);
		}
	}
	
	@keyframes scaleUp {
		80% {
			opacity: 0;
			transform: scale(2);
		}
		100% {
			opacity: 0;
			transform: scale(2);
		}
	}
	

/* ==========================================
		 			 		--- DOMAIN FORM ---
  ========================================== */


	#stepcart .domain-form {
		position: relative;
	}
	
	#stepcart .domain-form input[type=text] {
		height: 28px;
		width: 240px;
		padding: 8px 10px 8px 50px;
		font: 700 14px/18px  'Ubuntu', sans-serif ;
	}
	
	#stepcart .domain-form input[type="text"] + input[type="text"] {
			padding: 8px 10px;
			width: 60px;
	}	

	#stepcart .domain-form input[type=text],
	#stepcart .domain-form select {
			margin-right: 10px;
                        height: 44px;
	}
	
	#stepcart .domain-form select {
		height: 44px;
		min-width: 70px;
	}
	
	#stepcart .domain-form .btn {
		height: 44px;
		margin-top: -4px;
	}
	
	#stepcart .domain-form .btn i {
		margin: 0 5px 0 0;
	}
	
	#stepcart .domain-form .www {
		color: #737d80;
		position: absolute;
		top: 14px;
		left: 15px;
		line-height: 18px;
	}
	#stepcart .domain-form .www i {
		font-size: 16px;
		margin: 0 5px 0 0;
	}
       
       #stepcart .cartsummary-row .cart-features li span {
    display: inline-block;
    font-weight: 100;
    width: 100px;
    word-wrap: break-word;
}

#stepcart #currencychooser{
             float: right; 
                 background-color: #f5f8fa;
           padding: 5px;
           border-radius: 4px;
           border: 1px solid #e5e5e5;
       }
#stepcart .loader {
        background: url(../images/loader.gif) no-repeat;
        height: 32px;
        width: 42px;
 }
 
 #stepcart .product-block-title{
     width:70%; float: left;
 }
 #stepcart .product-block-price{
     width:30%; float: left;
 }
 
  #stepcart .steps{
      padding-left:0px;
  }