/* 	==========================================================================

	General

	========================================================================== */
html {
	height: 100%;
}
body {
  color: #5D5F63;
  background: #F0F1F6;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  color: #1abc9c;
}
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #16a086;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  word-wrap: break-word;
}
p {
  font-size: 14px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
::selection {
  background: #fff7dd;
}
::-moz-selection {
  background: #fff7dd;
}
.adminreturndiv { 
	display: none 
}
.table-padded td {
	padding: 15px !important;
}
.panel {
	word-wrap: break-word;
}


/* 	==========================================================================

	Margin Classes

	========================================================================== */

.margin-10 {
    margin: 10px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}

.col-button-left {
    padding-left: 0;
    padding-right: 7px;
}
.col-button-right {
    padding-left: 7px;
    padding-right: 0;
}


/* 	==========================================================================

	Breadcrumbs

	========================================================================== */

.breadcrumb {
  background: none;
}
.breadcrumb > li {
  font-size: 12px;
  white-space: nowrap;
}


/* 	==========================================================================

	Main Layout

	========================================================================== */

/* Header */
#header {
  z-index: 200;
  background: #fff;
  min-height: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 0;
}
#header .brand {
  float: left;
  width: 240px;
  min-height: 80px;
  padding: 0;
  position: relative;
  text-align: center;
}
#header .logo {
  padding: 0 0 0 0;
  display: inline-block;
}
#header .logotext {
  color: #1abc9c;
  font-size: 1.7em;
  text-transform: uppercase;
  padding: 21px 0 0 0;
  
  display: inline-block;
}
#header .logo span {
  font-weight: 700;
}
#header .toggle-navigation button:hover,
#header .toggle-navigation button:active,
#header button#toggle-mail:hover,
#header button#toggle-mail:active,
#header button#tickets-link:hover,
#header button#tickets-link:active,
#header button#invoices-link:hover,
#header button#invoices-link:active,
#header .btn-default:hover,
#header .btn-default:active,
#header li.open .btn-default {
  background: #1abc9c;
}
#header .toggle-navigation button:hover i,
#header button#toggle-mail:hover i,
#header button#invoices-link:hover i,
#header button#tickets-link:hover i,
#header .btn-default:hover i,
#header .btn-default:active i,
#header li.open .btn-default i {
  color: #fff;
}
#header .toggle-navigation.toggle-left {
  margin: 23px 0 0 20px;
  display: inline-block;
}
#header .btn-default {
  padding: 3px 9px;
  background: #F6F6F6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
#header .btn-default .fa {
  cursor: pointer;
  color: #797979;
}
#header .btn-default a .fa {
  cursor: pointer;
  color: #797979;
  position: relative;
  top: 10px;
}
#header .user-nav {
  float: right;
  padding-top: 23px;

}
#header .user-nav ul li {
  display: inline-block;
  vertical-align: right;
  font-size: 15px;
}
#header .user-nav ul li.dropdown.messages .dropdown-menu {
  width: 350px;
}
#header .dropdown.settings .dropdown-menu > li > a:hover,
#header .dropdown.settings .dropdown-menu > li > a:active {
  background-color: #16a086;
  color: #fff;
}
#header .dropdown.settings .dropdown-menu > li > a:hover .badge.badge-danager {
  background-color: #fff;
  color: #1abc9c;
}
#header .user-nav ul li.dropdown.messages .dropdown-menu > li > a:hover,
#header .user-nav ul li.dropdown.messages .dropdown-menu > li > a:hover .message-info .time {
  background: #1abc9c;
  color: #fff;
}
#header .user-nav ul li.dropdown.messages .dropdown-menu {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  left: -150px;
  top: 48px;
  background-color: #F6F6F6;
  border: none;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
}

#header .user-nav ul li.dropdown.messages .dropdown-menu:before {
  bottom: 100%;
  left: 48%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #e84c3d;
  border-width: 8px;
  margin-left: -8px;
}
#header .user-nav ul li.dropdown.languages .dropdown-menu:before {
  bottom: 100%;
  left: 48%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #293949;
  border-width: 8px;
  margin-left: -8px;
}
#header .messages,
#header .settings,
#header .languages {
  margin: 0 15px;
}
#header .messages .badge {
  position: absolute;
  top: -10px;
  left: -5px;
}
#header .options i {
  color: #797979;
  font-size: 1.1em;
}
#header .user-nav ul li.dropdown.settings {
  line-height: 39px;
  margin-right: 15px;
  padding: 0 10px 0 0px;
}
#header .user-nav ul li.dropdown.settings .dropdown-menu > li > a {
  padding: 5px 10px;
  font-size: 12px;
}
#header .user-controls ul li.dropdown.settings .dropdown-menu > li {
  display: block;
}
#header .user-nav ul li.dropdown.settings .dropdown-menu {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  top: 48px;
  background-color: #F6F6F6;
  border-color: #e7e8ec;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}
#header .user-nav ul li.dropdown.settings .dropdown-menu:after {
  bottom: 100%;
  right: 5px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #F6F6F6;
  border-width: 8px;
  margin-left: -8px;
}
#header .user-nav ul li.dropdown.settings .dropdown-menu:before {
  bottom: 100%;
  right: 5px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #e7e8ec;
  border-width: 8px;
  margin-left: -8px;
  top: -17px;
}
#header .user-nav ul li.dropdown.settings .language:before {
  bottom: 100%;
  right: 5px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #293949 !important;
  border-bottom-color: #293949 !important;
  border-width: 8px;
  margin-left: -8px;
  top: -17px;
}
@media (max-width: 767px) {
	#header .user-nav ul li.dropdown.settings .dropdown-menu:after {
	  right: 18px;
	}
	#header .user-nav ul li.dropdown.settings .dropdown-menu:before {
	  
	  right: 18px;
	}
}
#header .dropdown.settings .dropdown-menu > li,
#header .dropdown.messages .dropdown-menu > li {
  display: block;
}
#header .dropdown.settings > a {
  font-weight: 600;
  font-size: 12px;
}
#header li.dropdown ul.dropdown-menu.alert > li div.header {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-color: #e84c3d;
  margin: 0;
  font-size: 13px;
  padding: 10px;
  font-weight: 400;
  color: white;
}
#header .user-nav ul li.dropdown.messages .dropdown-menu > li > .message-content {
  white-space: normal;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fcfcfc;
    font-size: 14px;
}

#header .nav-divider,
.sidebar-left .nav-divider {
	display: none !important;
}

#container {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-content-wrapper {
  margin-left: 240px;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f1f2f7;
}
.main-content-wrapper #main-content {
  border-top: solid thin #e7e8ec;
  display: inline-block;
  padding: 15px 15px 0 15px;
  width: 100%;
}
.main-content-wrapper #main-content .h1 {
  margin: -10px 0 0 0;
  padding: 0px 10px 20px 12px;
  float: left;
  line-height: 42px;
  font-weight: 300;
  font-size: 42px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.main-content-toggle-left {
  margin-left: 0;
}
.main-content-toggle-right {
  margin-right: 240px;
}
/* Sidebar */
.sidebar {
  position: absolute;
  min-height: 100%;
  width: 240px;
  padding-top: 15px;
  background: #293949;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index: 999;
}
.sidebar-header {
  color: #6F737E;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 10px 20px 5px;
  text-transform: uppercase;
}
.sidebar .nav a {
  text-decoration: none;
}
.sidebar .nav i {
  font-size: 13px;
  margin-right: 5px;
}
.sidebar .nav .nav-sub {
  list-style: none;
  padding: 0;
  background: #2e4051;
  display: none;
}
.sidebar .nav .nav-sub li > a {
  padding-right: 10px;
  font-size: 13px;
  padding: 8px 0 8px 10px;
  display: block;
}
.sidebar .nav > li > .nav-sub > li > a {
  padding-left: 45px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > a {
  padding-left: 55px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
  padding-left: 65px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
  padding-left: 70px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
  padding-left: 75px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > a {
  padding-left: 25px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > .nav-sub > li > a {
  padding-left: 35px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
  padding-left: 45px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
  padding-left: 55px;
}
.sidebar .nav .nav-sub .nav-dropdown > a {
  padding-right: 30px;
}
.sidebar .nav-pills {
  margin-left: 0;
}
.sidebar .nav-pills > li > a {
  padding: 12px 10px;
  font-size: 14px;
  border-left: solid 4px #293949;
}
.nav > li > a:hover {
  color: #fff;
  border-left: solid 4px #1abc9c;
  background-color: #293949;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  border-left: solid 4px #1abc9c;
  background-color: #293949;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.sidebar .nav > li > a:focus {
  color: #fff;
  border-left: solid 4px #293949;
  background-color: #293949;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-dropdown.open > a:after {
  content: "\f107";
}
.sidebar-left a {
  color: #8f939e;
}
.sidebar-left a:focus,
.sidebar-left a:hover {
  color: #fff;
  background-color: transparent;
}
.sidebar-left .active > a,
.sidebar-left .active > a:focus,
.sidebar-left .active > a:hover {
  color: #ffffff;
}
.sidebar-left .sidebar-profile .media-body h4 {
  color: #f5f5f5;
}
.sidebar-mini .sidebar-left .nav > li.open > a {
  color: #fff;
  background-color: #293949;
}
.sidebar-left .nav-sub li.open > a {
  color: #fff;
}
.sidebar + .main-content-wrapper {
  width: 100%;
}
.nav-dropdown > a:after {
  margin-top: -2px;
  float: right;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  text-shadow: none;
}
@media (max-width: 767px) {
  .sidebar {
    left: -240px;
  }
  .sidebar-opened .sidebar-left {
    display: block;
    left: 0;
  }
  .sidebar-opened .sidebar-left + .main-content-wrapper {
    left: 240px;
    overflow: hidden;
  }
  .sidebar-opened {
    overflow-x: hidden;
  }
  .sidebar + .main-content-wrapper {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
  .sidebar-mini .sidebar {
    width: 50px;
    padding-top: 17px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .sidebar-mini .sidebar .nav > li.nav-dropdown.nav-dropdown-open > a,
  .sidebar-mini .sidebar .nav > li.nav-dropdown:hover > a {
    border-bottom-right-radius: 0;
  }
  .sidebar-mini .sidebar .nav > li.nav-dropdown > a:after {
    display: none;
    content: "";
    top: 12px;
    left: 34px;
    font-size: 10px;
  }
  .sidebar-mini .sidebar .nav > li > a {
    padding: 10px 9px;
    white-space: nowrap;
    overflow: hidden;
  }
  .sidebar-mini .sidebar .nav > li a .badge,
  .sidebar-mini .sidebar .nav > li a .label {
    display: none;
  }
  .sidebar-mini .sidebar .nav > li > a > i:first-child {
    margin-right: 10px;
    width: 22.28px;
  }
  .sidebar-mini .sidebar .nav > li > .nav-sub {
    position: absolute;
    left: 50px;
    margin-top: 0;
    padding-bottom: 2px;
    display: none!important;
    border-radius: 0 0 4px;
  }
  .sidebar-mini .sidebar .nav > li.nav-dropdown-open,
  .sidebar-mini .sidebar .nav > li:hover {
    width: 240px;
    z-index: 10;
  }
  .sidebar-mini .sidebar .nav > li.nav-dropdown-open a,
  .sidebar-mini .sidebar .nav > li:hover a {
    display: block;
    overflow: visible;
    white-space: normal;
    background-color: #293949;
  }
  .sidebar-mini .sidebar .nav > li.nav-dropdown-open a .badge,
  .sidebar-mini .sidebar .nav > li.nav-dropdown-open a .label,
  .sidebar-mini .sidebar .nav > li:hover a .badge,
  .sidebar-mini .sidebar .nav > li:hover a .label {
    display: block;
  }
  .sidebar-mini .sidebar .nav > li.nav-dropdown-open > .nav-sub,
  .sidebar-mini .sidebar .nav > li:hover > .nav-sub {
    display: block!important;
    z-index: 10;
  }
  .sidebar-mini .sidebar .nav-pills {
    margin-right: 5px;
  }
  .sidebar-mini .sidebar .nav-pills > li.nav-dropdown-open,
  .sidebar-mini .sidebar .nav-pills > li:hover {
    width: 235px;
  }
  .sidebar-mini .sidebar .nav-pills > li > a > i {
    margin-right: 10px;
    width: 23px;
  }
  .sidebar-mini .sidebar .nav-pills > li.nav-dropdown > a {
    padding-right: 10px;
  }
  .sidebar-mini .sidebar .nav-pills > li > .nav-sub {
    left: 45px;
    width: 190px;
  }
  .sidebar-mini .sidebar .nav-pills > li > .nav-sub a {
    padding-right: 5px;
  }
  .sidebar-mini .sidebar .nav-pills > li > .nav-sub .nav-dropdown > a {
    padding-right: 30px;
  }
  .sidebar-mini .sidebar .sidebar-header,
  .sidebar-mini .sidebar .sidebar-profile,
  .sidebar-mini .sidebar .sidebar-summary {
    display: none;
  }
  .sidebar + .main-content-wrapper {
    margin-left: 240px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    width: auto;
  }
  .sidebar-mini .navbar .navbar-brand-group {
    width: 100px;
  }
  .sidebar-mini .navbar .navbar-brand-group .navbar-brand {
    width: 50px;
  }
  .sidebar-mini .sidebar + .main-content-wrapper {
    margin-left: 50px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
}
@media only screen and (max-width: 660px) {
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-toggle-left {
    margin-left: 660px;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}
/* Sidebar Right */
.sidebarRight {
  width: 240px;
  background: #293949;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}
body.off-canvas .sidebarRight {
  -webkit-transform: translate(240px, 0px);
  -ms-transform: translate(240px, 0px);
  -o-transform: translate(240px, 0px);
  transform: translate(240px, 0px);
}
body.off-canvas.off-canvas-open .sidebarRight {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
body.off-canvas.off-canvas-open #container {
  -webkit-transform: translate(-240px, 0px);
  -ms-transform: translate(-240px, 0px);
  -o-transform: translate(-240px, 0px);
  transform: translate(-240px, 0px);
  transition: transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}


/* 	==========================================================================

	Language Chooser - Header

	========================================================================== */
	
#header .user-nav ul li.dropdown.languages .dropdown-menu {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  left: -77px;
  top: 48px;
  background-color: #F6F6F6;
  border: none;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
}	

#header .user-nav ul li.dropdown.languages .chooser {
    width: 200px;
    background-position: center center;
    background-color: #293949;
    background-image: url('../img/worldmap.png');
    background-repeat: no-repeat;
	background-size: cover;
    font-size: 0.8em;
	padding-bottom: 15px;
}

#header li.dropdown ul.dropdown-menu.chooser > li div.header {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-color: #293949;
  margin: 0;
  font-size: 13px;
  padding: 10px;
  font-weight: 400;
  color: white;
  display: block;
  width: 200px;
}

#header .user-nav ul li.dropdown.languages .chooser ul.langs {
	padding: 0;
    list-style-type: none;
    overflow: hidden;
}

#header .user-nav ul li.dropdown.languages .chooser ul.langs li {
    float: left;
    display: inline;
    padding: 0 10px;
    width: 50%;
    line-height: 2em;
}

#header .user-nav ul li.dropdown.languages .chooser ul.langs li a {
    color: #f2f2f2;
	    font-size: 0.8em;
}



/* 	==========================================================================

	Language Chooser - Footer

	========================================================================== */
	
.language-popover {
    max-width: 450px;
    width: 100%;
    background-color: #293949;
    background-image: url('../img/worldmap.png');
    background-repeat: no-repeat;
    font-size: 0.8em;
}

.language-popover.popover.top > .arrow:after {
    border-bottom-color: #293949;
	border-top-color: #293949;
}

.language-popover.popover.bottom > .arrow:after {
    border-bottom-color: #293949;
	border-top-color: #293949;
}

.language-popover .popover-content ul {
    margin: 6px 0 14px 0;
    padding: 0;
    max-width: 400px;
    list-style-type: none;
    overflow: hidden;
}

.language-popover .popover-content li {
    float: left;
    display: inline;
    padding: 0 20px 0 40px;
    width: 33.333%;
    line-height: 2em;
}

.language-popover .popover-content li a {
    color: #f2f2f2;
}

@media (max-width: 480px) {
    .language-popover {
        max-width: 250px;
        background-position: -50px 0;
    }
    .language-popover .popover-content li {
        padding: 0 20px;
        width: 50%;
    }
}



/* 	==========================================================================

	WHMCS Sidebar

	========================================================================== */ 

/* Sidebar Collapse Link Styling */

.sidebar-primary a.collapse-link {
	color: #333 !important;
}

.sidebar-primary a.collapse-link:hover {
	text-decoration: none;
}

.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
	background-color: #1abc9c;
	border-color: #1abc9c;
}

.list-group-item.active>.badge, 
.nav-pills>.active>a>.badge {
	color: #1abc9c;
}

/* Hide Specific Sidebar Elements on Small Screen Sizes */

@media (max-width: 992px) {

	div.whmcs-sidebar div[menuitemname="Support"],
	body.bulkdomainmanagement div.whmcs-sidebar div[menuitemname="Client Details"],
	body.bulkdomainmanagement div.whmcs-sidebar div[menuitemname="Client Contacts"],
	body.bulkdomainmanagement div.whmcs-sidebar div[menuitemname="Client Shortcuts"],
	div.whmcs-sidebar div[menuitemname="My Account"],
	div.whmcs-sidebar div[menuitemname="Billing"],
	body.clientareacancelrequest div.whmcs-sidebar div[menuitemname="Service Details Overview"],
	div.whmcs-sidebar div[menuitemname="My Services Actions"],
	body.clientareadomainaddons div.whmcs-sidebar div[menuitemname="Client Details"],
	body.clientareadomainaddons div.whmcs-sidebar div[menuitemname="Client Contacts"],
	body.clientareadomainaddons div.whmcs-sidebar div[menuitemname="Client Shortcuts"],
	body.clientareadomaincontactinfo div.whmcs-sidebar div[menuitemname="Domain Details Actions"],
	body.clientareadomaindetails div.whmcs-sidebar div[menuitemname="Domain Details Actions"],
	body.clientareadomaindns div.whmcs-sidebar div[menuitemname="Domain Details Actions"],
	body.clientareadomainemailforwarding div.whmcs-sidebar div[menuitemname="Domain Details Actions"],
	body.clientareadomaingetepp div.whmcs-sidebar div[menuitemname="Domain Details Actions"],
	body.clientareadomainregisterns div.whmcs-sidebar div[menuitemname="Domain Details Actions"],
	body.viewannouncement div.whmcs-sidebar div[menuitemname="Mobile Select Announcements Months"],
	body.downloads div.whmcs-sidebar div[menuitemname="Popular Downloads"],
	body.downloadscat div.whmcs-sidebar div[menuitemname="Popular Downloads"] {
		display: none !important;
	}
}


/* 	==========================================================================

	Footer

	========================================================================== */

#footer {
	clear: both;
	position: absolute;
  	right: 0;
  	bottom: -100px;
  	left: 0;
	z-index: 1000;
}

@media (max-width: 767px) {
	#footer {
		bottom: -200px;
	}
}

 
#footer a {
 	color: #FFFFFF;
 }
 
#footer a:hover {
 	color: #FFFFFF;
	text-decoration: none;
 }
 
.footer-text {
 	display: block;
 	padding-top: 5px;
 }

.lang-ft {
	padding-top: 5px;
}

/* Powered by WHMCS link */

.powered-by-link {
	padding-top: 50px;
	font-size: smaller;
}


/* 	==========================================================================

	Data Tables

	========================================================================== */

.dataTables_wrapper .dataTables_filter {
    float: right;
	padding-bottom: 10px; 
}

.dataTables_wrapper .dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_length label {
    padding-top: 10px;
}

.dataTables_wrapper .dataTables_length label .form-control {
    display: inline-block;
    padding: 2px;
    height: 25px;
    width: auto;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 10px;
}

.dataTables_wrapper .dataTables_paginate .pagination > li > a,
.dataTables_wrapper .dataTables_paginate .pagination > li > span {
    padding: 4px 8px;
}

/* Data Tables Responsive*/

@media (max-width: 600px) {
    .dataTables_wrapper .dataTables_info {
        padding: 9px 10px 40px;
    }
    .dataTables_wrapper .dataTables_filter {
        float: right;
        margin-top: 30px;
        width: 100%;
    }
    .dataTables_wrapper .dataTables_filter label {
        display: block;
        margin: 5px;
        padding: 0;
    }
    .dataTables_wrapper .dataTables_filter label .form-control {
        margin: 0;
        width: 100%;
    }
	
	.dataTables_paginate {
	
		display: block;
		width: 100%;
		margin: auto;
	
	}
	
	.dataTables_length {
		display: block;
		width: 100%;
		margin: auto;
	}
	
}

/* Responsive Data Tables - Make Child Rows 100% Width */

.dataTables_wrapper .child ul {
		width: 100%;
	}

/* Change color of responsive table expand button */

table.dataTable.dtr-inline.collapsed tbody td:first-child::before, 
table.dataTable.dtr-inline.collapsed tbody th:first-child::before {
	background-color: #1abc9c !important;
}

/* Responsive Data Tables - Avoid displaying ":" before buttons on columns containing buttons on responisve display */

.dataTables_wrapper #tableDomainsList li[data-dtr-index="6"] span.dtr-title {
	display: none;
}

.dataTables_wrapper #tableRenewalsList li[data-dtr-index="4"] span.dtr-title,
.dataTables_wrapper #tableRenewalsList li[data-dtr-index="5"] span.dtr-title {
	display: none;
}

.dataTables_wrapper #tableServicesList li[data-dtr-index="4"] span.dtr-title {
	display: none;
}

.dataTables_wrapper #tableInvoicesList li[data-dtr-index="5"] span.dtr-title,
.dataTables_wrapper #tableInvoicesList li[data-dtr-index="6"] span.dtr-title {
	display: none;
}

.dataTables_wrapper #tableQuotesList li[data-dtr-index="5"] span.dtr-title,
.dataTables_wrapper #tableQuotesList li[data-dtr-index="6"] span.dtr-title {
	display: none;
}


/* 	==========================================================================

	Responsive Pull Left / Pull Right

	========================================================================== */

@media (min-width: 992px) {
    .pull-md-left {
        float: left;
    }
    .pull-md-right {
        float: right;
		clear: right;
    }
}

@media (min-width: 768px) {
    .pull-sm-left {
        float: left;
    }
    .pull-sm-right {
        float: right;
    }
    .text-right-sm {
        text-align: right;
    }
}


/* 	==========================================================================

	Buttons & Badges

	========================================================================== */

.badge.badge-success {
  background-color: #2dcc70;
  color: #fff;
}
.badge.badge-primary {
  background-color: #1abc9c;
  color: #fff;
}
.badge.badge-info {
  background-color: #3598db;
  color: #fff;
}
.badge.badge-warning {
  background-color: #f1c40f;
  color: #fff;
}
.badge.badge-danager {
  background-color: #e84c3d;
  color: #fff;
}
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 14px;
  margin-bottom: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.btn:hover,
.btn:focus {
  outline: none;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none!important;
}
.btn.disabled,
.btn[disabled],
.btn fieldset[disabled] .btn {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
a.btn:link,
a.btn:visited {
  color: #ffffff;
  outline: none!important;
}
/* Default Buttons*/
.btn-default,
a.btn-default:link,
a.btn-default:visited {
  color: #ffffff;
  background-color: #bdc3c7;
  outline: none!important;
}
a.btn-default:hover,
a.btn-default:active {
  color: #ffffff;
  background-color: #cbd0d3;
  border-color: #cbd0d3;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #cbd0d3;
  border-color: #cbd0d3;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background: #bdc3c7;
  border-color: #bdc3c7;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.btn-primary,
a.btn-primary:link,
a.btn-primary:visited {
  color: #fff;
  background-color: #1abc9c;
}
a.btn-primary:hover,
a.btn-primary:active {
  color: #ffffff;
  background-color: #1dd2af;
  border-color: #1dd2af;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1dd2af;
  border-color: #1dd2af;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #1abc9c;
  border-color: #1abc9c;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.btn-info {
  color: #ffffff;
  background-color: #3598db;
}
.btn-info,
a.btn-info:link,
a.btn-info:visited {
  color: #ffffff;
  background-color: #3598db;
}
a.btn-info:hover,
a.btn-info:active {
  color: #ffffff;
  background-color: #4ba3df;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #4ba3df;
  border-color: #4ba3df;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background: #3598db;
  border-color: #3598db;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3598db;
  border-color: #3598db;
}
.btn-danger {
  color: #ffffff;
  background-color: #e84c3d;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #eb6154;
  border-color: #eb6154;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background: #eb6154;
  border-color: #eb6154;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e84c3d;
  border-color: #e84c3d;
}
.btn-success {
  color: #ffffff;
  background-color: #2dcc70;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #3ed47d;
  border-color: #3ed47d;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background: #2dcc70;
  border-color: #2dcc70;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2dcc70;
  border-color: #2dcc70;
}
.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background: #f2ca27;
  border-color: #f2ca27;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
/* 3d Buttons*/
.btn.btn-3d {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn.btn-3d:active {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
.btn-default.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #A6AAAC;
  -moz-box-shadow: 0px 6px 0px #A6AAAC;
  box-shadow: 0px 6px 0px #A6AAAC;
}
.btn-default.btn-3d:hover,
.btn-default.btn-3d:focus {
  background-color: #bdc3c7;
}
.btn-default.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #A6AAAC;
  -moz-box-shadow: 0px 2px 0px #A6AAAC;
  box-shadow: 0px 2px 0px #A6AAAC;
}
.btn-default.btn-3d:hover,
.btn-default.btn-3d:focus {
  background-color: #bdc3c7;
}
.btn-primary.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #14a084;
  -moz-box-shadow: 0px 6px 0px #14a084;
  box-shadow: 0px 6px 0px #14a084;
}
.btn-primary.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #14a084;
  -moz-box-shadow: 0px 2px 0px #14a084;
  box-shadow: 0px 2px 0px #14a084;
}
.btn-primary.btn-3d:hover,
.btn-primary.btn-3d:focus {
  background-color: #1abc9c;
}
.btn-success.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #2ab263;
  -moz-box-shadow: 0px 6px 0px #2ab263;
  box-shadow: 0px 6px 0px #2ab263;
}
.btn-success.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #2ab263;
  -moz-box-shadow: 0px 2px 0px #2ab263;
  box-shadow: 0px 2px 0px #2ab263;
}
.btn-success.btn-3d:hover,
.btn-success.btn-3d:focus {
  background-color: #2dcc70;
}
.btn-info.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #2e86c1;
  -moz-box-shadow: 0px 6px 0px #2e86c1;
  box-shadow: 0px 6px 0px #2e86c1;
}
.btn-info.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #2e86c1;
  -moz-box-shadow: 0px 2px 0px #2e86c1;
  box-shadow: 0px 2px 0px #2e86c1;
}
.btn-info.btn-3d:hover,
.btn-info.btn-3d:focus {
  background-color: #3598db;
}
.btn-warning.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #d6ae11;
  -moz-box-shadow: 0px 6px 0px #d6ae11;
  box-shadow: 0px 6px 0px #d6ae11;
}
.btn-warning.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #d6ae11;
  -moz-box-shadow: 0px 2px 0px #d6ae11;
  box-shadow: 0px 2px 0px #d6ae11;
}
.btn-warning.btn-3d:hover,
.btn-warning.btn-3d:focus {
  background-color: #f1c40f;
}
.btn-danger.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #c94034;
  -moz-box-shadow: 0px 6px 0px #c94034;
  box-shadow: 0px 6px 0px #c94034;
}
.btn-danger.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #c94034;
  -moz-box-shadow: 0px 2px 0px #c94034;
  box-shadow: 0px 2px 0px #c94034;
}
.btn-danger.btn-3d:hover,
.btn-danger.btn-3d:focus {
  background-color: #e84c3d;
}
/* square buttons */
.btn-square {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
/* Transparent buttons */
.btn-default.btn-trans {
  color: #bdc3c7;
  background-color: transparent;
  border: solid thin #bdc3c7;
}
.btn-default.btn-trans:hover,
.btn-default.btn-trans:active,
.btn-default.btn-trans:focus {
  color: #fff;
  background-color: #bdc3c7;
  border: solid thin #bdc3c7;
}
.btn-primary.btn-trans {
  color: #1abc9c;
  background-color: transparent;
  border: solid thin #1abc9c;
}
.btn-primary.btn-trans:hover,
.btn-primary.btn-trans:active,
.btn-primary.btn-trans:focus {
  color: #fff;
  background-color: #1abc9c;
  border: solid thin #1abc9c;
}
.btn-success.btn-trans {
  color: #2dcc70;
  background-color: transparent;
  border: solid thin #2dcc70;
}
.btn-success.btn-trans:hover,
.btn-success.btn-trans:active,
.btn-success.btn-trans:focus {
  color: #fff;
  background-color: #2dcc70;
  border: solid thin #2dcc70;
}
.btn-info.btn-trans {
  color: #3598db;
  background-color: transparent;
  border: solid thin #3598db;
}
.btn-info.btn-trans:hover,
.btn-info.btn-trans:active,
.btn-info.btn-trans:focus {
  color: #fff;
  background-color: #3598db;
  border: solid thin #3598db;
}
.btn-warning.btn-trans {
  color: #f1c40f;
  background-color: transparent;
  border: solid thin #f1c40f;
}
.btn-warning.btn-trans:hover,
.btn-warning.btn-trans:active,
.btn-warning.btn-trans:focus {
  color: #fff;
  background-color: #f1c40f;
  border: solid thin #f1c40f;
}
.btn-danger.btn-trans {
  color: #e84c3d;
  background-color: transparent;
  border: solid thin #e84c3d;
}
.btn-danger.btn-trans:hover,
.btn-danger.btn-trans:active,
.btn-danger.btn-trans:focus {
  color: #fff;
  background-color: #e84c3d;
  border: solid thin #e84c3d;
}
/* Button Sizes */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* Button Dropdown Menus */
.dropdown-menu {
  background-color: #F6F6F6;
  border-color: #cbd0d3;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px;
}
.dropdown-menu > li {
  font-size: 13px;
}
.dropdown-menu > li > a {
  color: #797979;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dropdown-menu .divider {
  background-color: rgba(255, 255, 255, 0.05);
}
.btn-default + .dropdown-menu > li > a:hover,
.btn-default + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #bdc3c7;
  color: #fff;
}
.btn-primary + .dropdown-menu > li > a:hover,
.btn-primary + .dropdown-menu > li > a:focus,
.btn-primary + .dropdown-menu > li > a.active {
  text-decoration: none;
  background-color: #16a086;
  color: #fff;
}
.btn-info + .dropdown-menu > li > a:hover,
.btn-info + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #2C81BA;
  color: #fff;
}
.btn-warning + .dropdown-menu > li > a:hover,
.btn-warning + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f2ca27;
  color: #fff;
}
.btn-danger + .dropdown-menu > li > a:hover,
.btn-danger + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #c1392b;
  color: #fff;
}


/* 	==========================================================================

	Forms

	========================================================================== */

.form-control,
.form-group input[type="text"],
.form-group input[type="password"] {
  color: #717171;
  outline: 0;
  height: 18px;
  padding: 6px 11px;
  line-height: 18px;
  font-size: 13px;
  background-color: #fafafa;
  min-height: 36px;
  filter: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form-control:focus,
.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  border-color: #7c7c7c;
}
.form-horizontal.form-border .form-group {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.input-group {
  margin-bottom: 15px;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}
label.error {
  color: #fff;
  background: #b94a48;
  border: solid thin #fff;
  padding: 3px 5px;
}
label.valid {
  color: #fff;
  background: #5CB85C;
  border: solid thin #fff;
  padding: 3px 5px;
}
.icheck div,
.icheck .disabled {
  float: left;
}
.icheck div {
  margin-right: 10px;
}
.icheck label {
  font-weight: normal;
}
.icheck .checkbox,
.icheck .radio {
  margin-bottom: 10px;
}
.form-horizontal .radio, 
.form-horizontal .checkbox, 
.form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline {
	padding-top: 4px;
}
/* 
	Form field display workaround for native WHMCS field outputs 
*/

select.form-control {
  height: 34px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 34px;
  border-radius: 3px;
}

.input-sm {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-wrap input,
.form-wrap select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-wrap select {
  height: 34px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 34px;
  border-radius: 3px;
}

.form-wrap input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-wrap input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-wrap input:-ms-input-placeholder {
  color: #999;
}
.form-wrap input::-webkit-input-placeholder {
  color: #999;
}
.form-wrap input[disabled],
.form-wrap input[readonly],
.form-wrap select[disabled],
.form-wrap select[readonly] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
.form-wrap textarea {
  height: auto;
}


.form-wrap-sm input,
.form-wrap-sm select {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-wrap-sm select {
  height: 34px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 34px;
  border-radius: 3px;
}

.form-wrap-sm input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-wrap-sm input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-wrap-sm input:-ms-input-placeholder {
  color: #999;
}
.form-wrap-sm input::-webkit-input-placeholder {
  color: #999;
}
.form-wrap-sm input[disabled],
.form-wrap-sm input[readonly],
.form-wrap-sm select[disabled],
.form-wrap-sm select[readonly] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
.form-wrap-sm textarea {
  height: auto;
}

.input-group input[type="text"] {
	height: 37px;
}

.input-group-lg input[type="text"] {
	height: 46px;
}

/* 	==========================================================================

	Tiles

	========================================================================== */

.dashboard-tile {
  background-color: #fff;
  color: #555;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dashboard-tile.tile-turquoise {
  background-color: #1abc9c;
  color: #fff;
}
.dashboard-tile.tile-red {
  background-color: #e84c3d;
  color: #fff;
}
.dashboard-tile.tile-blue {
  background-color: #3598db;
  color: #fff;
}
.dashboard-tile.tile-yellow {
  background-color: #f1c40f;
  color: #fff;
}
.dashboard-tile.tile-purple {
  background-color: #9a59b5;
  color: #fff;
}
.dashboard-tile .header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.dashboard-tile .header .title {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
}
.dashboard-tile .content {
  padding: 10px;
}
.dashboard-tile.header .content {
  padding: 10px 20px;
  background: transparent;
  padding-right: 10px;
  display: inline-block;
  position: relative;
  z-index: 5;
}
.dashboard-tile.detail .icon {
  bottom: 0px;
  width: 80px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
}
.dashboard-tile.header .icon img {
  opacity: 0.8;
  display: block;
  float: right;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
  top: 50px;
  width: 80px;
}
.dashboard-tile.header {
  position: relative;
  overflow: hidden;
}
.dashboard-tile.detail {
  position: relative;
  overflow: hidden;
}
.dashboard-tile.detail .content {
  background: transparent;
  padding: 10px 10px 13px;
  display: inline-block;
  position: relative;
  z-index: 5;
}
.dashboard-tile.detail .icon {
  display: block;
  float: right;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  width: 80px;
  right: 40px;
  bottom: 9px;
}
.dashboard-tile.detail .icon i {
  color: rgba(0, 0, 0, 0.05);
  font-size: 85px;
  line-height: 65px;
}
.dashboard-tile .content p {
  margin-bottom: 0;
  padding: 10px;
  font-weight: 4 00;
  font-size: 14px;
  clear: both;
}
#main-content .dashboard-tile .content h1 {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  padding: 8px;
}

/* 	==========================================================================

	Labels

	========================================================================== */

.label-default {
  background-color: #bdc3c7;
}
.label-primary {
  background-color: #1abc9c;
}
.label-success {
  background-color: #2dcc70;
}
.label-warning {
  background-color: #f1c40f;
}
.label-info {
  background-color: #3598db;
}
.label-danger {
  background-color: #e84c3d;
}


/* 	==========================================================================

	Domain Checker

	========================================================================== */

div.domainresults div.domain-checkout-area {
    display: none;
    float: right;
	position: relative;
	top: -5px;
	margin-bottom: 0;
}

span.results-text {
	position: relative;
	top: -5px;
}

tr.no-hover:hover td {
	background-color: none !important;
}

/* Domain Pricing */

th.indent,
td.indent {
	padding-left: 15px !important;
}

/* Domain Results */

#suggestionResults td {
	padding: 15px;
	border-top: none;
}


#suggestionResults td.dname {
	padding-top: 20px;
}

#bulkoptions {
	font-size: 12px !important;
}

/* 	==========================================================================

	Modals

	========================================================================== */


.modal-footer {
	text-align: left;
}
.modal-footer .btn + .btn {
  margin-bottom: 5px;
}
.modal .modal-body.modal-scroll {
  max-height: 300px;
  overflow-y: auto;
}


/* 	==========================================================================

	Pagination

	========================================================================== */


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.pagination > li > a,
.pagination > li > span {
  color: #1abc9c;
}


/* 	==========================================================================

	Panels

	========================================================================== */

.panel {
  border: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel > .panel-heading {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
.panel .actions {
  position: absolute;
  right: 30px;
  top: 18px;
}
.panel .actions i {
  font-size: 1em;
  margin: 0 3px;
}
.panel .actions i:hover {
  cursor: pointer;
}
.panel > .panel-footer {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
.panel-default > .panel-heading {
  border-color: #eff2f7;
  background: #fafafa;
  color: #767676;
}
.panel-default .actions i {
  font-size: 1em;
  color: #bdc3c7;
  margin: 0 3px;
}
.panel-default .actions i:hover {
  cursor: pointer;
  color: #767676;
}
.panel-default > .panel-footer {
  border-color: #eff2f7;
  background: #fafafa;
  color: #767676;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.panel-primary {
  border-color: #1abc9c;
}
.panel-primary > .panel-heading a,
.panel-primary > .panel-heading a:hover {
  color: #fff;
}
.panel-solid-default > .panel-heading,
.panel-solid-default > .panel-body,
.panel-solid-default > .panel-footer {
  background: #bdc3c7;
  color: #fff;
  border: none;
}
.panel-solid-primary > .panel-heading,
.panel-solid-primary > .panel-body,
.panel-solid-primary > .panel-footer {
  background: #1abc9c;
  color: #fff;
  border: none;
}
.panel-solid-success > .panel-heading,
.panel-solid-success > .panel-body,
.panel-solid-success > .panel-footer {
  background: #2dcc70;
  color: #fff;
  border: none;
}
.panel-solid-warning > .panel-heading,
.panel-solid-warning > .panel-body,
.panel-solid-warning > .panel-footer {
  background: #f1c40f;
  color: #fff;
  border: none;
}
.panel-solid-info > .panel-heading,
.panel-solid-info > .panel-body,
.panel-solid-info > .panel-footer {
  background: #3598db;
  color: #fff;
  border: none;
}
.panel-solid-danger > .panel-heading,
.panel-solid-danger > .panel-body,
.panel-solid-danger > .panel-footer {
  background: #e84c3d;
  color: #fff;
  border: none;
}


/* 	==========================================================================

	Tabs

	========================================================================== */


.tab-wrapper {
  margin-bottom: 20px;
}
.tab-wrapper .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tab-wrapper .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 10px 15px;
}
.tab-wrapper > .nav-tabs > li a {
  color: #5D5F63;
}
.tab-wrapper > .nav-tabs > li.active > a {
  border-top: 2px solid #1abc9c;
  background-color: #ffffff;
}
.tab-wrapper.tab-left > .nav-tabs > li,
.tab-wrapper.tab-right > .nav-tabs > li {
  float: none;
  min-width: 75px;
}
.tab-wrapper.tab-left > .nav-tabs > li > a,
.tab-wrapper.tab-right > .nav-tabs > li > a {
  border: 1px solid #ddd;
}
.tab-wrapper.tab-left > .nav-tabs > li.active > a,
.tab-wrapper.tab-right > .nav-tabs > li.active > a {
  border-top-color: #ddd !important;
}
.tab-wrapper.tab-left .tab-content,
.tab-wrapper.tab-right .tab-content {
  overflow: auto;
  border-top: 1px solid #ddd;
}
.tab-wrapper.tab-left > .nav-tabs {
  float: left;
  margin-right: -3px;
}
.tab-wrapper.tab-left > .nav-tabs > li > a {
  border-right: 0;
}
.tab-wrapper.tab-left > .nav-tabs > li.active > a {
  border-left: 2px solid #1abc9c;
}
.tab-wrapper.tab-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
.tab-wrapper.tab-right > .nav-tabs > li > a {
  border-left: 0;
}
.tab-wrapper.tab-right > .nav-tabs > li.active > a {
  border-right: 2px solid #1abc9c;
}
.tab-wrapper.tab-bottom > .tab-content {
  border-top: 1px solid #ddd;
}
.tab-wrapper.tab-bottom > .nav-tabs {
  border-bottom: none;
  margin-top: 0px;
}
.tab-wrapper.tab-bottom > .nav-tabs > li.active > a {
  margin-top: -2px;
  border-top-color: transparent !important;
  border-bottom: 2px solid #1abc9c;
}
.tab-primary.tab-wrapper > .nav-tabs > li.active > a {
  border-top-color: #1abc9c;
}
.tab-primary.tab-wrapper.tab-left > .nav-tabs > li.active {
  border-left-color: #1abc9c;
}
.tab-primary.tab-wrapper.tab-right > .nav-tabs > li.active {
  border-right-color: #1abc9c;
}
.tab-primary.tab-wrapper.tab-bottom > .nav-tabs > li.active > a {
  border-bottom-color: #1abc9c;
}


/* 	==========================================================================

	Responisve Fixes

	========================================================================== */


@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 660px) {
  #header {
    height: 160px;
  }
  #header.nobrand {
  	height: 80px;
  }
  #header .brand {
    width: 100%;
  }
  #header .user-nav ul {
    padding-left: 0;
  }
  #header .toggle-navigation.toggle-left {
    float: left;
  }
  .sidebar {
    left: -240px;
  }
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-wrapper {
    margin-left: 0;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}
@media only screen and (max-width: 479px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 22px;
  }
  #header .dropdown.messages {

  }
}

@media only screen and (min-width: 1024px) {
		
	table.table-bordered th,
	table.table-bordered td {
	padding-left: 15px !important;
	}
}

/* 
	Cancel right floating items on mobile view
*/

.ttb {
	margin-left: 10px;
	  cursor: default;
	  display: inline-block; 
}

.left-5 {

	margin-left: 5px;

}

@media only screen and (max-width: 660px) {

	.res-left {
		float: none !important;
		clear: both;
		display: block;
		width: auto;
		margin: 10px 0 10px 0;
	}
	
	.res-100 {
		width: 100%;
	}
	
	.left-5 {
		margin-left: 0;
	}
	
	.modal-footer .btn + .btn {
 		margin-left: 0px;
	}
}

/* Modal Scrolling IOS Fix */

.modal-body-touch {
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@media (min-height: 600px) {
    .modal-body-touch {
        max-height: 500px;
    }
}

@media (min-height: 800px) {
    .modal-body-touch {
        max-height: 700px;
    }
}

@media (min-height: 1000px) {
    .modal-body-touch {
        max-height: 800px;
    }
}

@media (min-height: 1200px) {
    .modal-body-touch-body {
        max-height: 1000px;
    }
}


/* 	==========================================================================

	Status Labels

	========================================================================== */

.status {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.status-custom {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.status-pending {
  background-color: #f1c40f;
}
.status-pending-transfer {
  background-color: #f1c40f;
}
.status-active,
.status-open {
  background-color: #2dcc70;
}
.status-suspended {
  background-color: #e84c3d;
}
.status-customer-reply {
  background-color: #3598db;
}
.status-fraud {
  background-color: #e84c3d;
}
.status-answered {
  background-color: #2dcc70;
}
.status-expired {
  background-color: #e84c3d;
}
.status-cancelled {
  background-color: #e84c3d;
}
.status-terminated {
  background-color: #e84c3d;
}
.status-onhold {
  background-color: #e84c3d;
}
.status-inprogress {
  background-color: #f1c40f;
}
.status-closed {
  background-color: #777;
}

.status-paid {
  background-color: #2dcc70;
}
.status-unpaid {
  background-color: #e84c3d;
}
.status-cancelled {
  background-color: #f1c40f;
}
.status-collections {
  background-color: #e84c3d;
}
.status-refunded {
  background-color: #f1c40f;
}

.status-delivered {
  background-color: #2dcc70;
}

.status-accepted {
  background-color: #2dcc70;
}
.status-lost, .status-dead {
  background-color: #777;
}


/* 	==========================================================================

	Support Tickets

	========================================================================== */
 
.panel > .list-group .ticket-details-children .title {
    font-weight: bold;
}
 
.panel-collapsable > .panel-body-collapsed {
    display: none;
}

.ticket-reply .rating-question {
	padding-top: 10px;
	float: left;
	display: block;
}

.ticket-reply .rating,
.ticket-reply .rating-done {
    float: right;
    padding: 0px 0px;
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 24px;
}

.ticket-reply .rating span.star,
.ticket-reply .rating-done span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.ticket-reply .rating-done .rated {
    display: inline-block;
    font-size: 12px;
    font-family: Tahoma;
}

.ticket-reply .rating span.star:hover {
    cursor: pointer;
}

.ticket-reply .rating span.star:before,
.ticket-reply .rating-done span.star:before {
    content: "\f006";
    padding-right: 0;
    color: #999;
}

.ticket-reply .rating span.star:hover:before,
.ticket-reply .rating span.star:hover ~ span.star:before,
.ticket-reply .rating-done span.star.active:before  {
    content: "\f005";
    color: #F2DE88;
}

table.ticketrating {
  display: table;
  width: auto;
  border: 0;
  border-spacing: 1px; /* 2px ? */
  border-collapse: separate;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  /* XXXldb do we want this if we're border-collapse:collapse ? */
  -moz-box-sizing: border-box;
  text-indent: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
table.ticketrating td {
  display: table-cell;
  min-width: 16px;
  line-height: 16px;
  vertical-align: inherit;
  text-align: inherit;
  padding: 0;
  border: 0;
}
table.ticketrating td.point {
    cursor: pointer;
    cursor: hand;
}
table.ticketrating td.star {
    background: url('../../../images/rating_neg.png');
    cursor: pointer;
    cursor: hand;
}


/* 	==========================================================================

	Invoices / Quotes

	========================================================================== */
 
body.invoice {
	padding-top: 75px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
 
.navbar-invoice {
	height: 70px;
	background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-invoice .navbar-collapse {
	background-color: #fff;
	height: 100%;
}

.navbar-invoice .navbar-brand {
 	color: #5D5F63;
}
 
.navbar-invoice .navbar-brand {
	padding-top: 24px;
}

.navbar-invoice .navbar-text {
	padding-top: 4px;
}

.navbar-invoice .inv-status {
	padding-top: 9px;
}

.navbar-invoice ul.nav li a {
	padding-top: 25px;
}

.navbar-invoice ul.nav li a:hover {
	border-left: none;
}

.invoice table.cart {
  width: 100%;
}
.invoice table.cart thead {
  border-bottom: 1px solid #eff2f7;

}
.invoice table.cart tbody tr {
  border-bottom: 1px solid #eff2f7;
  font-size: 12px;
	color: #888;
}
.invoice table.cart tbody tr.total {
  border-bottom: 1px solid #eff2f7;
  font-size: 14px;
  background: #f7f7f7;

}
.invoice table.cart tbody tr:last-child {
  border: none;
  padding-bottom: 0;
}
.invoice table.cart th,
.invoice table.cart td {
  font-weight: 600;
  padding: 7px 0 7px 15px;
  text-align: left;
  vertical-align: top;
}
.invoice table.cart td {
  padding-bottom: 20px;
  padding-top: 20px;
	
}

.invoice table.cart tbody tr.total {
  border-bottom: 1px solid #eff2f7;
  font-size: 14px;
  background: #fafafa;
  color: #767676;

}

.invoice {
	padding-top: 20px;
}


/* 	==========================================================================

	Theme Debug

	========================================================================== */
 
#output-variables {
 	position: relative;
	top: 90px;
}
 
 
/* 	==========================================================================

	Misc.

	========================================================================== */

.fa-hover {
  margin: 5px 0;
}
.fa-hover i {
  font-size: 14px;
  margin-right: 5px;
  width: 20px;
}

.overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  opacity: 0.8;
  background: #1abc9c;
  border: solid 3px #1abc9c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #333;
  text-shadow: 1px 1px 1px #666;
  padding: 0 4px;
}
.overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #1abc9c;
}
.overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #1abc9c;
}

/* 	==========================================================================

	Printing

	========================================================================== */ 

@media print {

	.sidebar,
	.toggle-navigation,
	.user-nav,
	.whmcs-sidebar {
  	display: none !important;
  }
  a[href]:after {
    content:"" !important;
  }
	div.brand {
		display: block !important;
	}
	.main-content-wrapper {
  	margin-left: 0 !important;
	}
	#internal-content {
		width: 100% !important;
	}
}

/* 	==========================================================================

	Cart

	========================================================================== */ 

.input-group-lg span#addwww.input-group-addon {
	height: 40px !important;
	font-size: 12px !important;
}

.btn-cart-check-availability {
	margin-bottom: 0px;
}

#tldbutton {
	font-size: 12px !important;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 0;
	margin-left: -1px;
	margin-bottom: 0px;
}

.padding-top-cart {
	padding-top: 7px;
}

section.cart label {
	
	display: block;
}

section.cart span.price {
	
	font-weight: normal;
	text-align: right;
	font-style: italic;
	font-size: 16px;
}

section.cart .addon-products span.price {
	
	font-weight: normal;
	text-align: right;
	font-style: italic;
	font-size: 12px;
	float: right;
}

.domain-input-group {
	padding: 20px 19px 30px 19px;
}

span.dot {
	border-left-width: 0;
	border-right-width: 0;
}

.domain-selection-options .option-selected label {
    font-weight: bold;
}

.domain-input-group {
    display: none;
    margin: 10px 0;
}

.domain-loading-spinner {
    display: none;
    padding: 40px;
    text-align: center;
    color: #1abc9c;
}

label.radio-icheck {
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

label.radio-icheck span {
	margin-left: 10px;	
}

.label-slider {
	margin-top: 14px;
}

section.cart span.field-help-text {
	margin: 10px 12px 0 12px;
	display: block;
}

#orderSummary .panel-body {
	font-size: smaller;
}


table.order-summary {
	margin-top: 0px;
}

table.order-summary tr.totals {
	font-size: 16px; 
}


table.order-summary tr.totals {
 	border-bottom: 2px solid #ddd;
 	border-top: 2px solid #ddd;
}

table.order-summary tr.dashed td {
	border-top: 1px dashed #ddd;
}

table.order-summary tr.no-border td {
	border-top: none;
}

table.order-summary thead tr th, 
table.order-summary tbody tr td {
	padding: 4px 0; 
}

table.order-summary .btn-hide{
	display: none; 
}

table.order-summary tr:hover .btn-hide {
	display: inline; 
}

section.cart table.cart th.text-right, 
section.cart table.cart td.text-right {
	text-align: right;
	padding-right: 15px;
}
section.cart table.cart td span:first-of-type,
section.cart table.cart td span.setup-price {
	color: #5D5F63;
}
section.cart button.btn-link,
section.cart a.btn-link {
	color: #1abc9c;
}

section.cart .panel-heading .btn {
	margin-bottom: 0;
	text-transform: none;
}

section.cart .panel.panel-product .panel-heading h3.panel-title {
	font-size: 28px;
}

section.cart a.label-no-hosting {
	color: #fff;
}

section.cart #tldbutton2,
section.cart #tldbutton3 {
	height: 37px;
	margin-bottom: 0;
}

/* Sidebar */

.cart-main-column {
    position: relative;
    right: 0;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    min-height: 500px;
}

.cart-sidebar {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    display: none;
}

#btnShowSidebar {
    margin: -17px 0 20px 0;
}

.cat-col-row {
	background-color: #E7E8EC;
	margin-top: -15px;
}

.categories-collapsed {
    padding: 15px;
}
.categories-collapsed select {
    border: 0;
    color: #222;
}

/* Compare */

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/**
 * -------------------------
 * Email Verification
 * -------------------------
 */

.email-verification {
    margin: 0;
    padding: 10px;
    font-size: 0.9em;
    line-height: 30px;
}

/**
 * -------------------------
 * Markdown Editor
 * -------------------------
 */

.markdown-editor-status {
    padding: 2px 10px;
    font-size: 9pt;
    color: #959694;
    text-align: right;

}

.small-font {
    font-size: 0.9em;
}

/**
 * -------------------------
 * Markdown Content Formatting
 * -------------------------
 */

.markdown-content h1 {
    font-size: 1.6em;
    color: #333;
}
.markdown-content h2 {
    font-size: 1.4em;
    color: #333;
}
.markdown-content h3 {
    font-size: 1.2em;
    color: #333;
}
.markdown-content h4 {
    font-size: 1.1em;
    color: #333;
}

.markdown-content pre {
    padding: 15px;
    background-color: #444;
    color: #f8f8f8;
    border: 0;
}
.markdown-content pre code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.markdown-content blockquote {
    font-size: 1em;
}

.markdown-content table {
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.markdown-content table > thead > tr > th {
    padding: 4px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}
.markdown-content table > tbody > tr > td {
    padding: 3px 8px;
    border: 1px solid #ddd;
}

/* Shopping Cart Sidebar Text Alignment Fix */

.row-centered .whmcs-sidebar {
	text-align: left;
}

/* Remove main-content left margin when left sidebar / main nav is not displayed */

.no-sidebar .main-content-wrapper {
	margin-left: 0;
}