

/* 
	Responsive Tables 
	-----------------
*/


/* 	
	Responsive Table 1 - Client Homepage & Support Tickets Page - Open Support Tickets
	File: clientareahome.tpl, supportticketslist.tpl
	Table ID: homesupptick
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#homesupptick, table#homesupptick thead, table#homesupptick tbody, table#homesupptick th, table#homesupptick td, table#homesupptick tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#homesupptick thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#homesupptick tr { border-bottom: 1px solid #ccc; }
	
	table#homesupptick td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#homesupptick td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#homesupptick td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 15px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}


/* 	
	Responsive Table 2 - Client Homepage Due Invoices
	File: clientareahome.tpl
	Table ID: homeinvdue
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#homeinvdue, table#homeinvdue thead, table#homeinvdue tbody, table#homeinvdue th, table#homeinvdue td, table#homeinvdue tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#homeinvdue thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#homeinvdue tr.item { border-bottom: 1px solid #ccc; }
	
	table#homeinvdue tr.item td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	
	
	table#homeinvdue tr.item td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#homeinvdue tr.total td { 
		/* Behave  like a "row" */
		border: none;

	}
	
	table#homeinvdue tr.item td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	table#homeinvdue tr.item td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}


/* 	
	Responsive Table 3 - My Produces & Services
	File: clientareaproducts.tpl
	Table ID: myproducts
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#myproducts, table#myproducts thead, table#myproducts tbody, table#myproducts th, table#myproducts td, table#myproducts tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#myproducts thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#myproducts tr { border-bottom: 1px solid #ccc; }
	
	table#myproducts tr td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#myproducts td.nolabel {
		padding-left: 15px; 
	}
	
	
	
	table#myproducts tr td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#myproducts tr td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 15px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}	
	
}


/* 	
	Responsive Table 4 - Affiliates Page, Your Referrals
	File: affiliates.tpl
	Table ID: affyouref
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#affyouref, table#affyouref thead, table#affyouref tbody, table#affyouref th, table#affyouref td, table#affyouref tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#affyouref thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#affyouref tr { border-top: 1px solid #ccc; }
	
	table#affyouref td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#affyouref td.nolabel {
		padding-left: 10px; 
	}
	
	table#affyouref td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#affyouref td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}

/* 	
	Responsive Table 5 - Domain pricing table
	File: bulkdomainchecker.tpl, bulkdomaintransfer.tpl, domainchecker.tpl
	Table ID: dompri
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#dompri, table#dompri thead, table#dompri tbody, table#dompri th, table#dompri td, table#dompri tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#dompri thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#dompri tr { border-top: 1px solid #ccc; }
	
	table#dompri td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#dompri td.nolabel {
		padding-left: 10px; 
	}
	
	table#dompri td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#dompri td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}


/* 	
	Responsive Table 6 - Bulk Domain Checker Results
	File: bulkdomainchecker.tpl
	Table ID: buldomcheres
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#buldomcheres, table#buldomcheres thead, table#buldomcheres tbody, table#buldomcheres th, table#buldomcheres td, table#buldomcheres tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#buldomcheres thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#buldomcheres tr { border-top: 1px solid #ccc; }
	
	table#buldomcheres td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#buldomcheres td#selyrs {
		padding-left: 5px;
		padding-top: 35px;
	}
	
	table#buldomcheres td#selyrs select {
		
		width: 100%;
	}
	
	table#buldomcheres td.nolabel {
		padding-left: 10px; 
	}
	
	table#buldomcheres td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#buldomcheres td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}




/* 	
	Responsive Table 7 - My Domains Listing
	File: clientareadomains.tpl
	Table ID: cliaredomlis
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#cliaredomlis, table#cliaredomlis thead, table#cliaredomlis tbody, table#cliaredomlis th, table#cliaredomlis td, table#cliaredomlis tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#cliaredomlis thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#cliaredomlis tr { border-top: 1px solid #ccc; }
	
	table#cliaredomlis td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#cliaredomlis td#domain {
		padding-left: 5px;
		padding-top: 35px;
	}
	
	table#cliaredomlis td#domain select {
		
		width: 100%;
	}
	
	table#cliaredomlis td.nolabel {
		padding-left: 5px; 
	}
	
	table#cliaredomlis td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#cliaredomlis td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}


/* 	
	Responsive Table 8 - Client Area Email History 
	File: clientareaemails.tpl
	Table ID: cliareemalis
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#cliareemalis, table#cliareemalis thead, table#cliareemalis tbody, table#cliareemalis th, table#cliareemalis td, table#cliareemalis tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#cliareemalis thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#cliareemalis tr { border-top: 1px solid #ccc; }
	
	table#cliareemalis td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#cliareemalis td.nolabel {
		padding-left: 5px; 
	}
	
	table#cliareemalis td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#cliareemalis td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}


/* 	
	Responsive Table 9 - Client Area Invoices
	File: clientareainvoices.tpl
	Table ID: cliareinv
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#cliareinv, table#cliareinv thead, table#cliareinv tbody, table#cliareinv th, table#cliareinv td, table#cliareinv tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#cliareinv thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#cliareinv tr { border-top: 1px solid #ccc; }
	
	table#cliareinv td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#cliareinv td.nolabel {
		padding-left: 5px; 
	}
	
	table#cliareinv td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#cliareinv td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}



/* 	
	Responsive Table 10 - Client Area Product Addons
	File: clientareaproductdetails.tpl
	Table ID: cliareproadd
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#cliareproadd, table#cliareproadd thead, table#cliareproadd tbody, table#cliareproadd th, table#cliareproadd td, table#cliareproadd tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#cliareproadd thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#cliareproadd tr { border-top: 1px solid #ccc; }
	
	table#cliareproadd td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#cliareproadd td.nolabel {
		padding-left: 5px; 
	}
	
	table#cliareproadd td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#cliareproadd td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}


/* 	
	Responsive Table 11 - Client Area Quotes
	File: clientareaquotes.tpl
	Table ID: cliarequo
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#cliarequo, table#cliarequo thead, table#cliarequo tbody, table#cliarequo th, table#cliarequo td, table#cliarequo tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#cliarequo thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#cliarequo tr { border-top: 1px solid #ccc; }
	
	table#cliarequo td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#cliarequo td.nolabel {
		padding-left: 5px; 
	}
	
	table#cliarequo td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#cliarequo td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}


/* 	
	Responsive Table 12 - Downloads File List
	File: downloads.tpl, downloadscat.tpl
	Table ID: dowfillis
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#dowfillis, table#dowfillis thead, table#dowfillis tbody, table#dowfillis th, table#dowfillis td, table#dowfillis tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#dowfillis thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#dowfillis tr { border-top: 1px solid #ccc; }
	
	table#dowfillis td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#dowfillis td.nolabel {
		padding-left: 5px; 
	}
	
	table#dowfillis td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#dowfillis td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}


/* 	
	Responsive Table 13 - View Invoice - Transactions Table
	File: viewinvoice.tpl
	Table ID: viewinvotran
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#viewinvotran, table#viewinvotran thead, table#viewinvotran tbody, table#viewinvotran th, table#viewinvotran td, table#viewinvotran tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#viewinvotran thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#viewinvotran tr { border-bottom: 1px solid #ccc; }
	
	table#viewinvotran td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#viewinvotran td.nolabel {
		padding-left: 5px; 
	}
	
	table#viewinvotran td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#viewinvotran td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}


/* 	
	Responsive Table 14 - Flare Modern Order Form, Domain Suggestions
	File: orderforms/flare-modern/domainoptions.tpl
	Table ID: domoptdomsug
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table#domoptdomsug, table#domoptdomsug thead, table#domoptdomsug tbody, table#domoptdomsug th, table#domoptdomsug td, table#domoptdomsug tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table#domoptdomsug thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table#domoptdomsug tr { border-top: 1px solid #ccc; }
	
	table#domoptdomsug td { 
		/* Behave  like a "row" */
		border: none;
		border-top: 1px dashed #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table#domoptdomsug td.domain {
		padding-left: 5px;
		padding-top: 35px;
	}
	
	table#domoptdomsug td.domain select {
		
		width: 100%;
	}
	
	table#domoptdomsug td.nolabel {
		padding-left: 5px; 
	}
	
	table#domoptdomsug td:nth-of-type(1) {
		
		border-top: none; 
		
	}
	
	table#domoptdomsug td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}


