<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="templates/orderforms/{$carttpl}/assets/css/font-awesome.css" charset="utf-8"/>
<link type="text/css" rel="stylesheet" href="templates/orderforms/{$carttpl}/assets/css/style.css" charset="utf-8"/>

<script type="text/jscript" src="templates/orderforms/{$carttpl}/assets/js/application.js"></script>

<script type="text/javascript" src="templates/orderforms/{$carttpl}/MG_Cart/MG_Cart.js"></script>
<script type="text/javascript" src="includes/jscript/statesdropdown.js"></script>


<div class="container"> 
    <div id="stepcart" class="step-blue">
    
    