/*
***********************************************

  *** SmarterTrack Help Desk Module Styles ***

For more info, please refer to the kb articles
 @   http://portal.smartertools.com

***********************************************
*/

table.data th {
	text-align: left;
}

table.departments td img
{
	padding-top: 5px;
}

div.livechatscript
{
	text-align: right;
	width: 960px;
	color: white;
	margin: auto;
}

div.livechatscript a, div.livechatscript a:visited
{
	background-color: #006;
	font-family: Tahoma;
	font-size: 11px;
	color: white;
	text-decoration: underline;
	padding: 5px;
}
