.table form 
{
    padding: 0;
    margin: 0;
}

.table input
{
    margin: 0!important;
}

input[disabled], select[disabled], textarea[disabled], .body input[readonly], select[readonly], textarea[readonly] {
    background-color: #EEEEEE!important;
    cursor: not-allowed!important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
    color: #333333!important;
    text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover
{
    text-decoration: underline;
}
#left_side {display:none !important;}
#content_container #content {margin-left:0 !important;}
#mg-wrapper #mg-content.right {margin-right:0 !important;}

#mg-wrapper .pagination > div {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  *zoom: 1;
}

#mg-wrapper .pagination a {
  display: inline;
}

#mg-wrapper .pagination a{
  float: left;
  padding: 0 14px;
  line-height: 28px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-left-width: 0;
}



#mg-wrapper .pagination a.paginate_button_disabled,
#mg-wrapper .pagination a:hover,
#mg-wrapper .pagination a.paginate_active{
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
}

#mg-wrapper .pagination a.previous.paginate_button_disabled,
#mg-wrapper .pagination a.next.paginate_button_disabled,
#mg-wrapper .pagination ul > .disabled > span,
#mg-wrapper .pagination ul > .disabled > a,
#mg-wrapper .pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

#mg-wrapper .pagination > div > a:last-child{
    border-right-width: 1px;
    -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
}

#mg-wrapper .pagination > div > a:first-child{
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

#mg-wrapper .pagination a:hover
{
    cursor: pointer;
}

#mg-wrapper .table-search
{
    float: right;
}


