
<form method="post" action="clientarea.php?action=productdetails">
    <input type="hidden" name="id" value="{$id}" />
<input type="submit" value="{$LANG.smglobalback}" class="btn btn-primary"/>
</form>
<form method="post" id="deleteForm" action="clientarea.php?action=productdetails" style="float: left;width:150px;">
			<input type="hidden" name="aliasname" value="{$name}" />
			<input type="hidden" name="id" value="{$id}" />
			<input type="hidden" name="modop" value="custom" />
			<input type="hidden" name="a" value="deletesmartermailalias" />
</form>
   <form method="post" action="clientarea.php?action=productdetails" class="form-horizontal using-password-strength">
    <h3>{$LANG.ssmeditAlias} | {$UserName}</h3>
    <div class="form-group">
        <label for="inputalias" class="col-sm-5 control-label">{$LANG.smAlias}</label> 
        <div class="col-sm-6">
            <input type="text" name= "newaliasname" style="width: 100%;" value="{$name}"  class="form-control" />
        </div>
    </div>
		<input type="hidden" name= "aliasemailaddress" style="width: 100%;" value="{if is_array($addresses)}{foreach $addresses as $value}{$value}{/foreach}{else}{$addresses}{/if}"  class="form-control" />
		
		<br clear="both" />
		<div class="form-group">
        <div class="text-center">
			<input type="hidden" name="username" value="{$UserName}" />
			<input type="hidden" name="aliasname" value="{$name}" />
			<input type="hidden" name="id" value="{$id}" />
			<input type="hidden" name="modop" value="custom" />
			<input type="hidden" name="a" value="savechangessmartermailalias" />
			<input type="submit" value="{$LANG.smglobalreflesh}" class="btn btn-primary" /> <input type="button" id="deleteButtom"value="{$LANG.smglobalDelete}" class="btn btn-default" onClick="document.getElementById('deleteForm').submit()" />
		</div>
    </div>	
 
</form><br clear="both" />
