.set_main_header,.header_label {text-align: left; margin:3px 0; }
.server_status_container { padding: 30px 20px; text-align: left; }
#serverstats { padding-bottom: 20px; }

.create_vps {text-align: right;margin-bottom: 10px;}
.vps_list tbody td:first-child {width:60%;vertical-align: middle;}
.vps_list tbody td:last-child {width:40%;text-align: center;}

#vm_alerts .box-success, #vm_alerts .box-error {padding:5px;margin-bottom:10px;}
#vm_alerts .box-success {background-color: #DFF0D8;}
#vm_alerts .box-error {background-color: #F2DEDE;}

button.btn img {margin-right:2px;}

.box-error:first-letter {text-transform: uppercase;}
form.action-form {float:left;width:auto;margin:0 2px;}

.vm_progress {width: 210px;height:20px;}
.vm_progress-wrap {background:#ddd;overflow:hidden;position:relative;float:left;line-height:20px;}
.vm_progress-bar {background:rgb(77, 180, 238);position: absolute;top: 0;width:100%;text-align: left;}
.vm_progress-total {float: right; width: 240px; line-height:20px;text-align:left;position: relative}
.vm_progress-percent {position: absolute;top:0;left:0;text-align: center;color:#000;width:100%;font-weight: bold;}
.success,.success > td {background-color: #DFF0D8;}
.error,.error > td {background-color: #F2DEDE;}
button.btn img {margin-right:2px;}

.box-error:first-letter {text-transform: uppercase;}
.green {font-weight:bold;color:green;}
.red {font-weight:bold;color:red}

#rbuttons,#nbuttons { padding-bottom: 20px; text-align: left; }
#rbuttons .btn,#nbuttons .btn {margin:5px;width:180px;text-align: left;}
.vmdetails {width:100%;}
#vm-table {position: relative;}
#vm-table .left {float:left;width:200px;left:0;top:0;}
#vm-table .right {float:none;margin-left:220px;}
#vm-table #serverstats h3 {text-align: left!important;}
p.clear {clear:both;}
.cl_numeric {width:50px;overflow:hidden;}
.so_error {background-color: #F2DEDE;border-top: 1px solid #DDDDDD;line-height: 20px;padding: 8px;margin:10px 0;}
.so_error ul {padding:0;margin:0 20px;}
.so_slider {width:200px;float:left;margin: 8px 10px 0 5px;}
#onapp_add_form select {width:220px;}
span.small {font-size:11px;}
h2.header_label {text-align: left;margin:10px 0;}
.table {width:100%;}
.table-template {margin:0;}
.table-template td {padding: 3px 8px;}
.table-template td:last-child,.table-template th:last-child {text-align: center;}
.rebuild-btn {text-align: right!important}
.rebuild-btn .btn {margin-right:45px;margin-top:5px;margin-bottom: 5px;}
.chart {margin-bottom:20px;}
.chart div.highcharts-container {border:1px solid black;}
.capitalize {text-transform: capitalize;}
.bg_green {background-color: #d9eebd;}
.bg_blue {background-color: #d4e4f3;}
.bg_red {background-color: #efdfda;}
.bg_yellow {background-color: #f3edd4;}
.status {font-weight: bold;text-transform: capitalize;}
.price {float:right; margin-top: 10px; font-size:11px; display:inline-block;}
.vps_on {color:green}
.vps_off {color:red;}
#autoscale_chart,.form-horizontal,.autoscale_buttons {margin-top:10px;}
.autoscale th {width:50%;}
.up_ram,.up_cpu,.up_disk,.down_ram,.down_cpu,.down_disk,.hidden {display:none;}
.so_label {margin-top:4px;display:block;}
.so_label label.min, .so_label label.max{display:inline;font-size:11px;}
.so_label label.max {float:right}

.chart > div {display:block;margin:0 auto;width:700px;}
.alert li{
     list-style-type: none; 
}